@sg-blue: rgb(74, 91, 118);
@sg-gray: #f5f5f5;

@diff-green: rgba(124, 252, 0, 0.4);
@diff-red: rgba(255, 0, 0, 0.2);
@diff-blue: rgba(0, 0, 255, 0.2);
@diff-gray: rgb(235, 235, 235);

@file-changed: rgba(0, 191, 255);
@file-deleted: rgb(255, 0, 0);
@file-created: rgb(0, 255, 0);

/**
 * Useful utilities.
 */

/** Global namespace */

  /** Not a mixin. Intended to be added using jQuery. */
  .transition-paused {
    -o-transition: none !important;
    -ms-transition: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }

/** End global namespace */

#sg {
  .box-sizing() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .transition() {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
  }

  .border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
  }

  .box-shadow(@style, @c) when (iscolor(@c)) {
    box-shadow:         @style @c;
    -webkit-box-shadow: @style @c;
    -moz-box-shadow:    @style @c;
  }

  .box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
    .box-shadow(@style, rgba(0, 0, 0, @alpha));
  }

  .opacity(@alpha) {
    opacity: @alpha;
    /*filter: alpha(opacity=@alpha*100);
    filter: "alpha(opacity=@alpha*100)";*/
  }
}

/**
 * Custom SciGit classes.
 */

body {
  font-family: 'Roboto', sans-serif;

	overflow-y: scroll;
  padding-bottom: 0 !important;

  font-size: 14px;

  p, .p {

  }

  pre {
    background-color: white;
  }

  a {
    text-decoration: none;

    &:hover {
      a;
    }
  }

  h1 {
    color: @sg-blue;
    font-weight: 100;
    font-size: 36px;
  }

  h2 {
    color: @sg-blue;
    font-weight: 200;
    font-size: 28px;
  }

  h3 {
    color: @sg-blue;
    font-size: 150%;
    font-weight: 200;
  }

  h4 {
    font-weight: 400;
    margin: 0;
  }

  footer {
    padding: 20px;
    text-align: right;
    color #333;
  }

  .center {
    text-align: center;
  }

  .top-right {
    position: absolute;
    top: 10px;
    right: 15px;
  }

  .move-down {
    margin-top: 15px;
    margin-bottom: 0;
  }

  .date {
    padding-left: 20px;
    padding-bottom: 7px;
    font-style: italic;
  }

  .no-decoration a {
    text-decoration: none;
  }

  .no-margin {
    margin: 0;
  }

  a.disabled {
    color: gray;
    text-decoration: none;

    &:hover {
      a.disabled;
    }
  }

  .scigit-brand {
    /** drs: override bootstrap's 'brand' tag */
    color: rgba(0, 0, 0, 0) !important;
    padding: 0 !important;
    margin: 8px 60px 7px 2px !important;

    background-image: url(/img/site-logo.png);
    width: 113px;
    height: 32px;
  }

  .breadcrumbs {
    margin-top: 15px;
    font-size: 16px;
    color: rgb(160, 160, 160);
    margin-bottom: 0;

    .divider {
      margin: 0 3px;
      font-weight: 100;
    }

    .current {
      font-weight: 500;
    }
  }

  .hero-unit {
    /* XXX */
    h1 {
      font-size: 300%;
      margin-bottom: 7px;
    }

    .close {
      margin: -45px -40px 0 0;
    }
  }

  .alert {
    i {
      float: left;
      margin-top: 2px;
      padding-right: 10px;
    }

    p {
      overflow: auto;
      margin: 0;
    }
  }

  .company {
    font-size: 16px;
    font-weight: 100;
    color: rgb(160, 160, 160);

    .divider {
      margin: 0 20px;
    }
  }

  /* drs: FIXME/this needs to use chrome and IE */
  .custom-color {
    background-color: rgb(74, 91, 118);
    background-repeat: repeat-x;
    background-image: none;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25), 0px -1px 0px rgba(0, 0, 0, 0.1) inset;
  }

  .navbar-inner {
    min-height: 50px;
  }

  .blue-hero-unit {
    background-color: rgba(0, 0, 255, 0.035);
  }

  .well-list, .blue-well-list {
    min-height: 20px;
    margin-bottom: 20px;
    border: 1px solid #eee;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);

    .table {
      padding-bottom: 0px;
      margin-bottom: 0px;

      .background {
        background-color: @sg-gray;
      }

      tr {
        .table;

        td {
          padding: 19px;
        }
      }

      th {
        .background;
        padding: 19px;
      }
    }

    .blue-well-list {
      .table, .table-condensed {
        th, tr th:hover {
          background-color: rgba(0, 0, 255, 0.035);
        }
      }
    }

    .table-condensed {
      tr {
        td {
          // Override .table's padding.
          padding: 10px;
        }
      }

      th {
        .table .background;
        // Override .table's padding.
        padding: 10px !important;
      }
    }

    /** maybe wrong */
    tr.alwayshover td {
      background-color: @sg-gray;

      &:hover {
        background-color: @sg-gray;
      }
    }

    tr.nohover, tr.nohover:hover {
      td, td:hover {
        background-color: inherit;
      }
    }
  }

  .well-padding {
    padding: 5px 19px 19px 19px;
  }

  .well-extra-padding {
    padding: 40px;
  }

  .separator {
    margin-bottom: 30px;
    height: 20px;
  }

  .separator-small {
    margin-bottom: 25px;
  }

  .separator-xsmall {
    margin-bottom: 15px;
    height: 15px;
  }

  &.modal-open {
    overflow: hidden;
  }

  .modal-small {
    @modal-small-length: 450px;
    width: @modal-small-length;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin: ((-1*@modal-small-length/2)+30) 0 0 -1*@modal-small-length/2;
  }

  .modal-large {
    @modal-large-length: 750px;
    width: @modal-large-length;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin: ((-1*@modal-large-length/2)+30) 0 0 -1*@modal-large-length/2;

    .modal-body {
      max-height: @modal-large-length * (2/3);
    }
  }

  .modal-responsive {
    width: 70%;
    height: 90%;
    left: 15%;
    top: 5% !important;
    margin: 0;
    overflow: hidden;

    .modal-body {
      max-height: 100%;
    }

    .modal-footer {
      height: 60px;
      position: absolute;
      bottom: 0;
      width: 100%;
      #sg > .box-sizing;
    }
  }

  .modal-show-only {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: white;
  }

  .buttons {
    margin: 0;
    padding: 0;

    li {
      display: inline;
      margin: 0 7px;

      &:first-child {
        margin: 0 7px 0 0;
      }
      &:last-child {
        margin: 0;
      }
    }
  }

  .title-btn {
    vertical-align: top;
    margin-left: 1em;
    font-weight: normal;
  }

  a.rawlink {
    text-decoration: none;
    color: black;

    &:link, &:visited, &:hover, &:active {
      a.rawlink;
    }
  }

  /** XXX */
  .input-append button.add-on {
    height: inherit !important;
    margin-left: 0;
  }

  .download {
    width: 600px;
    margin: auto;

    > p {
      font-size: 18px;

      &.small {
        font-size: 18px;
        margin-bottom: 20px;
      }
    }
  }

  .extra-padding {
    padding: 15px 25px;
  }

  .extra-padding-top {
    padding: 0 25px 15px 25px;
  }

  .content {
    margin: 40px 0 20px 0;
  }

  .slogan {
    padding-top: 10px;
    font-size: 55px;
    line-height: 75px;
    font-weight: 200;
    text-align: center;
    color: rgb(80, 80, 80);

    .easy {
      color: @sg-blue;
    }
  }

  .sub-slogan {
    font-size: 27px;
    line-height: 40px;
    font-weight: 200;
    text-align: center;
    color: rgb(120, 120, 120);
  }

  .login-form, .sign-up-form .sign-up-form-inner {
    width: 400px;
    margin: auto;
  }

  .sign-up-form .sign-up-form-inner {
    margin-top: 45px;
  }

  .sign-up {
    border-radius: 4px;
    text-align: center;
    width: 300px;
    height: 60px;
    margin: 20px auto 25px auto;
    background-color: #f7ad18;
    color: white;
    font-size: 30px;
    line-height: 60px;
    text-align: center;

    a, a:active, a:hover {
      text-decoration: none;
      color: white;
      font-weight: 200;
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  .screenshot {
    text-align: center;
  }

  .sign-up-progress {
    width: 500px;
    margin: 50px auto;

    p {
      text-align: center;
      font-size: 150%;
      color: rgb(120, 120, 120);
    }
  }

  .input-large {
    font-size: 24px !important;
    height: 29px !important;
    width: 100% !important;
  }

  .full-width-input {
    width: 98%;
  }

  .register-form, .newsletter-form {
    /** XXX */
    line-height: 0 !important;
  }

  .register-form {
    margin: 0 !important;
  }

  .dropdown {
    margin: 11px 0 0 22px;
    float: right;
    height: 100%;

    img.avatar {
      height: 35px;
      width: 35px;
      margin: -4px 7px 0 0;
      border: 1px solid black;
    }

    #label-username, #label-projects {
      font-size: 20px;
      font-weight: 100;
      line-height: 28px;

      .caret {
        margin: 10px 0 0 5px;
      }
    }

    a.dropdown-toggle {
      text-decoration: none;
      color: white;

      &:link, &:visited, &:active, &:hover {
        a.dropdown-toggle;
      }
    }

    &:hover ul.dropdown-menu {
      display: block;
    }
  }

  .username {
    line-height: 24px;
  }

  .navbar-fixed-top {
    z-index: 2;
  }

  .nav .current {
    text-shadow: 0px 1px 0px rgb(135, 160, 255) !important;
    color: rgb(66, 94, 146) !important;
  }

  .navigation {
    min-width: 800px;
  }

  .navitems {
    text-align: center;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: table-cell;

      a {
        display: block;
        color: white;
        line-height: 50px;
        font-size: 20px;
        font-weight: 100;
        margin: 0 10px;
        padding: 0 15px !important;
        text-decoration: none;

        &:hover {
          text-decoration: none;
          background-color: rgb(64, 81, 108);
        }
      }
    }

    .divider {
      display: table-cell;
      vertical-align: middle;

      .inner {
        display: inline-block;
        height: 25px;
        margin-top: 7px;
        border-left: 2px solid rgb(92, 111, 146);
      }
    }
  }

  ul.fake {
    margin: 5px 0 0 20px;
  }

  .go {
    font-size: 24px;
  }

  .snap-top {
    line-height: 0px;
  }

  .table-noheader tr {
    &:first-child, &:first-child td {
      border-top: none;
    }
  }

  p.subtitle {
    color: @sg-blue;
    font-size: 26px !important;
  }

  .explore {
    color: rgb(120, 120, 120);
    font-size: 20px;
    line-height: 42px;
    font-weight: 200;
    margin: 50px auto;
    text-align: center;
    width: 550px;

    i {
      margin: 0 10px 0 0;
      color: rgb(180, 180, 180);
    }
  }

  .universities {
    width: 100%;
    text-align: center;
    margin-bottom: 85px;

    p {
      font-size: 27px;
      line-height: 40px;
      margin-bottom: 20px;
      font-weight: 200;
      color: rgb(120, 120, 120);
    }
  }

  .features {
    margin: 80px 0 60px 0;
    text-align: center;

    i {
      float: left;
      margin: 6px 12px 0 0;
      font-size: 30px;
      font-weight: 100;
    }

    p {
      font-size: 18px;
      line-height: 26px;
      font-weight: 100;
    }
  }

  .download-info {
    text-align: center;
    min-height: 55px;

    p {
      text-align: left;
      min-height: 55px;
    }

    .number {
      float: left;
      position: relative;
      top: -25px;
      left: -25px;
      background: rgb(74, 91, 118);
      padding: 15px;
      border-radius: 10px;
      font-size: 32px;
      margin-right: -1000px;
      color: white;
    }
  }

  .download {
    padding: 20px;
    position: relative;

    .left {
      text-align: center;

      .link {
        margin: 20px;
        font-size: 30px;
      }
    }
  }

  .fulltitle {
    margin: 25px 20px;
    font-size: 16px;
    font-weight: 150;
  }

  .profile-entry {
    margin: 15px 5px;

    .profile-field {
      text-align: right;
      font-size: 14px;
      font-weight: 400;
      color: gray;
    }

    .profile-value {

    }
  }

  .highlight {
    padding: 0;
    margin: 0 10px 35px 10px;
    border: 4px solid rgb(221, 221, 221);
  }

  .project, .change, .clickable {
    &:hover {
      cursor: pointer;
      cursor: hand;
    }
  }

  .project, .change, .tabular {
    .buttons {
      float: right;
      padding: 0 0 5px 5px;

      .button {
        margin-left: 10px;
        float: left;
      }
    }

    .title {
      font-size: 16px;
      float: left;
    }

    .subtitle {
      margin-top: 22px;
    }

    .description {
      clear: both;
      margin-top: 5px;
      color: gray;

      a {
        .description;

        &:active, &:visited {
          .description;
        }
      }
    }
  }

  .clickable:hover {
    /** XXX */
    pre.highlight {
      background-color: rgb(245, 245, 245);
    }

    pre table tr, pre table tr td {
      background-color: white;
    }
  }

  #diffs {

  }

  .diff-text {
    margin: 0 !important;
    width: 100%;
    font-size: 10px;

    td, tr td {
      padding: 2px !important;
      margin: 0 !important;
    }

    th {
      background-color: @diff-blue;
      border-bottom: 2px solid @diff-gray;

      &:hover {
        th;
      }
    }

    .linenumber {
      width: 20px;
      text-align: right;
    }

    .content {
      padding-left: 10px !important;
      border-left: 5px solid @diff-gray;
    }

    .change-addition {
      background-color: @diff-green;

      &:hover {
        background-color: darken(@diff-green, 5%);
      }
    }

    .change-deletion {
      background-color: @diff-red;

      &:hover {
        background-color: darken(@diff-red, 20%);
      }
    }

    .change-line {
      background-color: @diff-gray;

      &:hover {
        background-color: darken(@diff-gray, 10%);
      }
    }
  }

  .diff {
    .nav {
      /** Forcefully override fixed position on files div. */
      border: 1px solid darken(@sg-gray, 10%);
      position: relative !important;
      width: 125px;
      margin-bottom: 20px;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      #sg > .transition;

      hr.soften {
        margin: 5px 0;
      }

      li.nav-header, hr.soften {
        #sg > .transition;
      }

      &.inactive {
        #sg > .opacity(0.5);
      }

      .diff-files(@color) {
        &:hover, &.active {
          border: 1px solid @color;

          & > i.arrow {
            color: @color;
          }

          li.nav-header {
            color: @color;
          }

          hr.soften {
            border-top: 1px solid lighten(@color, 30%);
            border-bottom: 1px solid lighten(@color, 45%);
          }
        }

        a:hover  {
          background-color: lighten(@color, 45%);
        }

        li.active, li.active a {
          background-color: lighten(@color, 30%);
        }
      }

      &.changed-files {
        .diff-files(@file-changed);
      }

      &.deleted-files {
        .diff-files(@file-deleted);
      }

      &.created-files {
        .diff-files(@file-created);
      }

      .active a {
        background-color: @diff-blue;
        color: black;
        text-shadow: none;
      }

      & > i.arrow {
        color: darken(@sg-gray, 10%);
        position: absolute;
        top: 50%;
        height: 8px;
        margin-top: -4px;
        margin-right: -15px;
        right: 0;
        z-index: -1;
        #sg > .transition;
      }

      &.active {
        #sg > .box-shadow(-2px 2px 2px 1px, darken(@sg-gray, 40%));
      }
    }

    .files {
      position: fixed;
      padding-right: 15px;
      border-right: 1px solid @sg-gray;

      .nav {
        width: 150px;
      }
    }

    .text {
      margin: 0 0 160px 200px;
    }
  }

  /** Special cases that are hard to write out in a nice format */
  td:hover .diff-text th, tr:hover .diff-text th {
    background-color: @diff-bue;
  }

  td:hover .diff-text .change-addition {
    background-color: @diff-green;
  }

  td:hover .diff-text .change-deletion {
    background-color: @diff-red;
  }

  td:hover .diff-text .change-line {
    background-color: @diff-blue;
  }

  .create-project {
    width: 315px;
    height: 100%;
    margin: auto;

    label {
      padding-bottom: 5px;
    }

    .public {
      float: right;
      text-align: center;
    }

    .grey-separator {
      border-right: 1px solid #f0f0f0;
      margin: 0 5px 0 25px;
      float: left;
      height: 60px;
    }

    .name {
      float: left;
    }
  }

  form .required .inner-label:after {
    color: #e32;
    font-weight: bold;
    content: '*';
    display: inline-block;
  }
}

/**
 * Bootstrap overrides.
 */
body {
  label, input, button, select, textarea {
    font-size: 14px;
    line-height: 24px;
  }

  .btn {
    background-image: none;
    filter: none;

    &:hover {
      background-color: darken(@sg-gray, 5%);
      *background-color: darken(@sg-gray, 5%);
    }
  }

  .btn-primary {
    background-color: @sg-blue;
    *background-color: @sg-blue;

    &:hover {
      background-color: darken(@sg-blue, 5%);
      *background-color: darken(@sg-blue, 5%);
    }
  }

  .btn-xlarge {
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    padding: 9px 25px;
  }

  .dropdown-menu  {
    li > a:hover, .active > a, .active > a:hover {
      background-color: rgb(74, 91, 118);
    }
  }

  .caret {
    border-top: 4px solid white;
  }

  .navbar-search {
    float: right;
    margin: 7px 35px 0 0;

    .search-query {
      border-radius: 4px;
      padding: 6px 9px;
      font-size: 16px;
      margin-right: -38px;
      border: 1px solid #aaaaaa;
      background-color: white;
      margin-top: 1px;
      color: gray;
      font-weight: 200;

      &:focus, &.focused {
        .search-query;
      }
    }

    .search-submit {
      height: 28px;
      width: 28px;
    }
  }
}

/**
 * Fonts
 */

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
       url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
       url('../fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic-webfont.eot');
  src: url('../fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Italic-webfont.woff') format('woff'),
       url('../fonts/Roboto-Italic-webfont.ttf') format('truetype'),
       url('../fonts/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold-webfont.eot');
  src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
       url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
       url('../fonts/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic-webfont.eot');
  src: url('../fonts/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-BoldItalic-webfont.woff') format('woff'),
       url('../fonts/Roboto-BoldItalic-webfont.ttf') format('truetype'),
       url('../fonts/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin-webfont.eot');
  src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
       url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'),
       url('../fonts/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-ThinItalic-webfont.eot');
  src: url('../fonts/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-ThinItalic-webfont.woff') format('woff'),
       url('../fonts/Roboto-ThinItalic-webfont.ttf') format('truetype'),
       url('../fonts/Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light-webfont.eot');
  src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Light-webfont.woff') format('woff'),
       url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
       url('../fonts/Roboto-Light-webfont.svg#RobotoLight') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic-webfont.eot');
  src: url('../fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-LightItalic-webfont.woff') format('woff'),
       url('../fonts/Roboto-LightItalic-webfont.ttf') format('truetype'),
       url('../fonts/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium-webfont.eot');
  src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
       url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'),
       url('../fonts/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-MediumItalic-webfont.eot');
  src: url('../fonts/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-MediumItalic-webfont.woff') format('woff'),
       url('../fonts/Roboto-MediumItalic-webfont.ttf') format('truetype'),
       url('../fonts/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}
