body {
	overflow-y: scroll;
}

.content {
  margin-top: 20px;
}

.myaccount {
  margin-top: 13px !important;
}

.navitem {
  color: black !important;
  line-height: 35px !important;
  font-size: 125%;
  text-shadow: 0px 1px 0px white !important;
  margin: 0 !important;
  padding: 10px 15px !important;
}

.navitem:hover {
  color: white !important;
  text-shadow: 0 1px 0 black !important;
  background-color: rgba(1, 1, 1, 0.1) !important;
}

.scigit-brand {
  /** drs: override bootstrap's 'brand' tag */
  color: rgba(0, 0, 0, 0) !important;
  padding: 0 !important;
  margin: 2px 30px 2px 2px !important;

  background-image: url('../img/site-logo.png');
  width: 146px;
  height: 51px;
}

.title-btn {
	vertical-align: top;
	margin-left: 1em;
	font-weight: normal;
}

/* drs: FIXME/this needs to use chrome and IE */
.custom-color {
  background-color: rgb(222, 222, 222);
  background-image: -moz-linear-gradient(center top , rgb(222, 222, 222), rgb(199, 199, 199));
  background-repeat: repeat-x;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25), 0px -1px 0px rgba(0, 0, 0, 0.1) inset;
}

.features {
  margin: 40px 0;
  text-align: center;
}

.features p {
  padding: 10px 5px;
  color: rgb(85, 85, 85);
}

.features .feature {
  height: 140px;
  width: 200px;
  margin: auto;
}

/** drs: FIXME/factor this out */
.features .collaborate {
  background: url('../img/collaborate.png') no-repeat scroll 0% 0% transparent;
}

.features .editors {
  background: url('../img/editors.png') no-repeat scroll 0% 0% transparent;
}

.features .secure {
  background: url('../img/secure.png') no-repeat scroll 0% 0% transparent;
}

.discover {
  background: whitesmoke;
  text-align: center;
  padding: 100px 0 80px 0;
  background-image: -webkit-radial-gradient(center center, circle contain, rgba(255, 255, 255, 0.8) 100%, whitesmoke 100%);
  background-color: white;
  background-image: -moz-linear-gradient(#eeeeee, white);
  background-image: -o-linear-gradient(#eeeeee, white);
  background-image: -ms-linear-gradient(#eeeeee, white);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, white));
  background-image: -webkit-linear-gradient(#eeeeee, white);
}

.discover .social {
  padding: 20px;
}
