body {
  overflow-y: scroll;
  padding-bottom: 0 !important;
}
body p,
body .p {
  font-size: 14px;
  font-weight: 200;
}
body pre {
  background-color: white;
}
body h1 {
  color: #4a5b76;
  font-weight: 500;
}
body h2 {
  color: #4a5b76;
  font-weight: 500;
}
body h3 {
  color: #4a5b76;
  font-size: 150%;
}
body footer {
  padding: 20px;
  text-align: right;
}
body .center {
  text-align: center;
}
body .top-right {
  position: absolute;
  top: 10px;
  right: 15px;
}
body .move-down {
  margin-top: 15px;
  margin-bottom: 0;
}
body .date {
  padding-left: 20px;
  padding-bottom: 7px;
  font-style: italic;
}
body .no-decoration a {
  text-decoration: none;
}
body .scigit-brand {
  color: rgba(0,0,0,0) !important;
  padding: 0 !important;
  margin: 8px 60px 7px 2px !important;
  background-image: url(/img/site-logo.png);
  width: 113px;
  height: 32px;
}
body .breadcrumbs {
  margin-top: 15px;
  font-size: 16px;
  color: #a0a0a0;
  margin-bottom: 0;
}
body .breadcrumbs .divider {
  margin: 0 3px;
}
body .breadcrumbs .current {
  font-weight: 500;
}
body .hero-unit h1 {
  font-size: 300%;
  margin-bottom: 7px;
}
body .hero-unit .close {
  margin: -45px -40px 0 0;
}
body .company {
  font-size: 16px;
  color: #a0a0a0;
}
body .company .divider {
  margin: 0 20px;
}
body .custom-color {
  background-color: #4a5b76;
  background-repeat: repeat-x;
  background-image: none;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25), 0px -1px 0px rgba(0,0,0,0.1) inset;
}
body .navbar-inner {
  min-height: 50px;
}
body .blue-hero-unit {
  background-color: rgba(0,0,255,0.035);
}
body .well-list,
body .blue-well-list {
  min-height: 20px;
  margin-bottom: 20px;
  border: 1px solid #eee;
  border: 1px solid rgba(0,0,0,0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.15);
}
body .well-list .table,
body .blue-well-list .table {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
body .well-list .table .background,
body .blue-well-list .table .background {
  background-color: #f5f5f5;
}
body .well-list .table tr,
body .blue-well-list .table tr {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
body .well-list .table tr .background,
body .blue-well-list .table tr .background {
  background-color: #f5f5f5;
}
body .well-list .table tr tr td,
body .blue-well-list .table tr tr td {
  padding: 19px;
}
body .well-list .table tr th,
body .blue-well-list .table tr th {
  background-color: #f5f5f5;
  padding: 19px;
}
body .well-list .table tr td,
body .blue-well-list .table tr td {
  padding: 19px;
}
body .well-list .table th,
body .blue-well-list .table th {
  background-color: #f5f5f5;
  padding: 19px;
}
body .well-list .blue-well-list .table th,
body .well-list .blue-well-list .table tr th:hover,
body .well-list .blue-well-list .table-condensed th,
body .well-list .blue-well-list .table-condensed tr th:hover,
body .blue-well-list .blue-well-list .table th,
body .blue-well-list .blue-well-list .table tr th:hover,
body .blue-well-list .blue-well-list .table-condensed th,
body .blue-well-list .blue-well-list .table-condensed tr th:hover {
  background-color: rgba(0,0,255,0.035);
}
body .well-list .table-condensed tr td,
body .blue-well-list .table-condensed tr td {
  padding: 10px;
}
body .well-list .table-condensed th,
body .blue-well-list .table-condensed th {
  background-color: #f5f5f5;
  padding: 10px !important;
}
body .well-list tr.alwayshover td,
body .blue-well-list tr.alwayshover td {
  background-color: #f5f5f5;
}
body .well-list tr.alwayshover td:hover,
body .blue-well-list tr.alwayshover td:hover {
  background-color: #f5f5f5;
}
body .well-list tr.nohover td,
body .well-list tr.nohover td:hover,
body .well-list tr.nohover:hover td,
body .well-list tr.nohover:hover td:hover,
body .blue-well-list tr.nohover td,
body .blue-well-list tr.nohover td:hover,
body .blue-well-list tr.nohover:hover td,
body .blue-well-list tr.nohover:hover td:hover {
  background-color: inherit;
}
body .well-padding {
  padding: 5px 19px 19px 19px;
}
body .well-extra-padding {
  padding: 40px;
}
body .separator {
  margin-bottom: 30px;
  height: 20px;
}
body .separator-small {
  margin-bottom: 25px;
}
body .modal-small {
  width: 450px;
  margin: -195px 0 0 -225px;
}
body .modal-large {
  width: 850px;
  margin: -395px 0 0 -425px;
}
body .modal-large .modal-body {
  max-height: 566.66666666667px;
}
body .buttons {
  margin: 0;
  padding: 0;
}
body .buttons li {
  display: inline;
  margin: 0 7px;
}
body .buttons li:first-child {
  margin: 0 7px 0 0;
}
body .buttons li:last-child {
  margin: 0;
}
body .title-btn {
  vertical-align: top;
  margin-left: 1em;
  font-weight: normal;
}
body a.rawlink {
  text-decoration: none;
  color: black;
}
body a.rawlink:link,
body a.rawlink:visited,
body a.rawlink:hover,
body a.rawlink:active {
  text-decoration: none;
  color: black;
}
body .input-append button.add-on {
  height: inherit !important;
  margin-left: 0;
}
body .download {
  width: 600px;
  margin: auto;
}
body .download p {
  font-size: 18px;
}
body .download p.small {
  font-size: 18px;
  margin-bottom: 20px;
}
body .extra-padding {
  padding: 15px 25px;
}
body .extra-padding-top {
  padding: 0 25px 15px 25px;
}
body .content {
  margin: 40px 0 20px 0;
}
body .slogan {
  font-size: 55px;
  line-height: 75px;
  font-weight: 200;
  text-align: center;
  color: #505050;
}
body .slogan .easy {
  color: #4a5b76;
}
body .sub-slogan {
  font-size: 27px;
  line-height: 40px;
  font-weight: 200;
  text-align: center;
  color: #787878;
}
body .login-form,
body .sign-up-form .sign-up-form-inner {
  width: 400px;
  margin: auto;
}
body .sign-up-form .sign-up-form-inner {
  margin-top: 45px;
}
body .sign-up {
  border-radius: 4px;
  text-align: center;
  width: 300px;
  height: 60px;
  margin: 20px auto 25px auto;
  background-color: #f7ad18;
  color: white;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
}
body .sign-up a,
body .sign-up a:active,
body .sign-up a:hover {
  text-decoration: none;
  color: white;
  font-weight: 200;
  display: block;
  height: 100%;
  width: 100%;
}
body .screenshot {
  text-align: center;
}
body .sign-up-progress {
  width: 500px;
  margin: 50px auto;
}
body .sign-up-progress p {
  text-align: center;
  font-size: 150%;
  color: #787878;
}
body .input-large {
  font-size: 24px !important;
  height: 29px !important;
  width: 100% !important;
}
body .full-width-input {
  width: 98%;
}
body .register-form,
body .newsletter-form {
  line-height: 0 !important;
}
body .register-form {
  margin: 0 !important;
}
body .dropdown {
  margin: 11px 0 0 22px;
  float: right;
  height: 100%;
}
body .dropdown img.avatar {
  height: 35px;
  width: 35px;
  margin: -4px 7px 0 0;
  border: 1px solid black;
}
body .dropdown #label-username,
body .dropdown #label-projects {
  font-size: 150%;
  font-weight: 200;
}
body .dropdown #label-username .caret,
body .dropdown #label-projects .caret {
  margin: 10px 0 0 5px;
}
body .dropdown a.dropdown-toggle {
  text-decoration: none;
  color: white;
}
body .dropdown a.dropdown-toggle:link,
body .dropdown a.dropdown-toggle:visited,
body .dropdown a.dropdown-toggle:active,
body .dropdown a.dropdown-toggle:hover {
  text-decoration: none;
  color: white;
}
body .username {
  line-height: 24px;
}
body .nav .current {
  text-shadow: 0px 1px 0px #87a0ff !important;
  color: #425e92 !important;
}
body .navigation {
  min-width: 800px;
}
body .navitems {
  text-align: center;
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body .navitems li {
  display: table-cell;
}
body .navitems li a {
  display: block;
  color: white;
  line-height: 45px;
  font-size: 150%;
  margin: 0 10px;
  padding: 0 15px !important;
  text-decoration: none;
  font-weight: 200;
}
body .navitems li a:hover {
  text-decoration: none;
  background-color: #40516c;
}
body .navitems .divider {
  display: table-cell;
  vertical-align: middle;
}
body .navitems .divider .inner {
  display: inline-block;
  height: 25px;
  margin-top: 7px;
  border-left: 2px solid #5c6f92;
}
body ul.fake {
  margin: 5px 0 0 20px;
}
body .go {
  font-size: 24px;
}
body .snap-top {
  line-height: 0px;
}
body .table-noheader tr:first-child,
body .table-noheader tr:first-child td {
  border-top: none;
}
body .subtitle {
  color: #4a5b76;
  font-weight: 500;
}
body .universities {
  width: 100%;
  text-align: center;
  margin: 60px 0 60px 0;
}
body .universities p {
  font-size: 27px;
  line-height: 40px;
  margin-bottom: 20px;
  font-weight: 200;
  text-align: center;
  color: #787878;
}
body .universities img {
  margin: auto;
}
body .features i {
  float: left;
  margin: 6px 12px 0 0;
  font-size: 30px;
}
body .features p {
  font-size: 18px;
  line-height: 26px;
}
body .download-info {
  text-align: center;
  min-height: 55px;
}
body .download-info p {
  text-align: left;
  min-height: 55px;
}
body .download-info .number {
  float: left;
  position: relative;
  top: -25px;
  left: -25px;
  background: #4a5b76;
  padding: 15px;
  border-radius: 10px;
  font-size: 32px;
  margin-right: -1000px;
  color: white;
}
body .download {
  padding: 20px;
  position: relative;
}
body .download .left {
  text-align: center;
}
body .download .left .link {
  margin: 20px;
  font-size: 30px;
}
body .fulltitle {
  margin: 25px 20px;
  font-size: 16px;
  font-weight: 150;
}
body .profile-entry {
  margin: 15px 5px;
}
body .profile-entry .profile-field {
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  color: gray;
}
body .highlight {
  padding: 0;
  margin: 0 10px 35px 10px;
  border: 4px solid #dddddd;
}
body .project:hover,
body .change:hover,
body .clickable:hover {
  cursor: pointer;
  cursor: hand;
}
body .project .buttons,
body .change .buttons,
body .tabular .buttons {
  float: right;
  padding: 0 0 5px 5px;
}
body .project .buttons .button,
body .change .buttons .button,
body .tabular .buttons .button {
  margin-left: 10px;
  float: left;
}
body .project .description,
body .change .description,
body .tabular .description {
  margin-top: 5px;
  color: gray;
}
body .project .description a,
body .change .description a,
body .tabular .description a {
  margin-top: 5px;
  color: gray;
}
body .project .description a:active,
body .project .description a:visited,
body .change .description a:active,
body .change .description a:visited,
body .tabular .description a:active,
body .tabular .description a:visited {
  margin-top: 5px;
  color: gray;
}
body .clickable:hover pre.highlight {
  background-color: #f5f5f5;
}
body .clickable:hover pre table tr,
body .clickable:hover pre table tr td {
  background-color: white;
}
body .diff-text {
  margin: 0 !important;
  width: 100%;
  font-size: 10px;
}
body .diff-text td,
body .diff-text tr td {
  padding: 2px !important;
  margin: 0 !important;
}
body .diff-text th {
  background-color: rgba(255,255,225,0.6) !important;
  border-bottom: 2px solid #dddddd;
}
body .diff-text .linenumber {
  width: 20px;
  text-align: right;
}
body .diff-text .content {
  padding-left: 10px !important;
  border-left: 5px solid #dddddd;
}
body .diff-text .change-addition {
  background-color: rgba(124,252,0,0.4);
}
body .diff-text .change-addition:hover {
  background-color: rgba(111,227,0,0.4);
}
body .diff-text .change-deletion {
  background-color: rgba(255,0,0,0.2);
}
body .diff-text .change-deletion:hover {
  background-color: rgba(153,0,0,0.2);
}
body .diff-text .change-line {
  background-color: rgba(0,0,255,0.2);
}
body .diff-text .change-line:hover {
  background-color: rgba(0,0,153,0.2);
}
body .diff .nav {
  position: fixed;
  border-right: 1px solid #f5f5f5;
}
body .diff .nav .deleted {
  background-color: rgba(255,0,0,0.2);
}
body td:hover .diff-text .change-addition {
  background-color: rgba(124,252,0,0.4);
}
body td:hover .diff-text .change-deletion {
  background-color: rgba(255,0,0,0.2);
}
body td:hover .diff-text .change-line {
  background-color: rgba(0,0,255,0.2);
}
body .create-project {
  width: 315px;
  height: 100%;
  margin: auto;
}
body .create-project label {
  padding-bottom: 5px;
}
body .create-project .public {
  float: left;
  text-align: center;
}
body .create-project .grey-separator {
  border-right: 1px solid #f5f5f5;
  margin: 0 5px 0 25px;
  float: left;
  height: 60px;
}
body .create-project .name {
  float: right;
}
body form .required .inner-label:after {
  color: #e32;
  font-weight: bold;
  content: '*';
  display: inline-block;
}
body .btn {
  background-image: none;
  filter: none;
}
body .btn:hover {
  background-color: #e8e8e8;
  *background-color: #e8e8e8;
}
body .btn-primary {
  background-color: #4a5b76;
  *background-color: #4a5b76;
}
body .btn-primary:hover {
  background-color: #404f66;
  *background-color: #404f66;
}
body .btn-xlarge {
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 9px 25px;
}
body .dropdown-menu li > a:hover,
body .dropdown-menu .active > a,
body .dropdown-menu .active > a:hover {
  background-color: #4a5b76;
}
body .caret {
  border-top: 4px solid white;
}
body .navbar-search {
  float: right;
  margin: 7px 35px 0 0;
}
body .navbar-search .search-query {
  border-radius: 4px;
  padding: 6px 9px;
  font-size: 16px;
  margin-right: -38px;
  border: 1px solid #aaaaaa;
  background-color: white;
  margin-top: 1px;
  color: gray;
  font-weight: 500;
}
body .navbar-search .search-query:focus,
body .navbar-search .search-query.focused {
  border-radius: 4px;
  padding: 6px 9px;
  font-size: 16px;
  margin-right: -38px;
  border: 1px solid #aaaaaa;
  background-color: white;
  margin-top: 1px;
  color: gray;
  font-weight: 500;
}
body .navbar-search .search-submit {
  height: 28px;
  width: 28px;
  z-index: 9999;
}
