body {
	overflow-y: scroll;
  padding-bottom: 0 !important;
}

h2 {
  font-weight: normal;
  font-size: 250%;
}

h3 {
  font-size: 150%;
}

.content {
  margin: 20px 0;
}

.myaccount {
  margin-top: 13px !important;
}

.input-large {
  font-size: 24px !important;
  height: 29px !important;
  width: 100% !important;
}

.register-form {
  margin: 0 !important;
  line-height: 0 !important;
}

.newsletter-form {
  line-height: 0 !important;
}

.navitem {
  color: black !important;
  line-height: 35px !important;
  font-size: 125%;
  text-shadow: 0px 1px 0px white !important;
  margin: 0 !important;
  padding: 10px 15px !important;
}

.navitem:hover {
  color: white !important;
  text-shadow: 0 1px 0 black !important;
  background-color: rgba(1, 1, 1, 0.1) !important;
}

.nav .current {
  text-shadow: 0px 1px 0px rgb(135, 160, 255) !important;
  color: rgb(66, 94, 146) !important;
}

.scigit-brand {
  /** drs: override bootstrap's 'brand' tag */
  color: rgba(0, 0, 0, 0) !important;
  padding: 0 !important;
  margin: 7px 60px 7px 2px !important;

  background-image: url('../img/site-logo.png');
  width: 144px;
  height: 42px;
}

.title-btn {
	vertical-align: top;
	margin-left: 1em;
	font-weight: normal;
}

/* drs: FIXME/this needs to use chrome and IE */
.custom-color {
  background-image: linear-gradient(bottom, rgb(199,199,199) 5%, rgb(222,222,222) 73%);
  background-image: -o-linear-gradient(bottom, rgb(199,199,199) 5%, rgb(222,222,222) 73%);
  background-image: -moz-linear-gradient(bottom, rgb(199,199,199) 5%, rgb(222,222,222) 73%);
  background-image: -webkit-linear-gradient(bottom, rgb(199,199,199) 5%, rgb(222,222,222) 73%);
  background-image: -ms-linear-gradient(bottom, rgb(199,199,199) 5%, rgb(222,222,222) 73%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.05, rgb(199,199,199)),
    color-stop(0.73, rgb(222,222,222))
  );
  background-repeat: repeat-x;

  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25), 0px -1px 0px rgba(0, 0, 0, 0.1) inset;
}

.features {
  margin: 30px 0;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.features p {
  padding: 10px 5px;
  color: rgb(85, 85, 85);
}

.features .feature {
  height: 140px;
  width: 200px;
  margin: auto;
}

.features .collaborate {
  background: url('../img/collaborate.png') no-repeat scroll 0% 0% transparent;
}

.features .editors {
  background: url('../img/editors.png') no-repeat scroll 0% 0% transparent;
}

.features .secure {
  background: url('../img/secure.png') no-repeat scroll 0% 0% transparent;
}

.discover {
  background: whitesmoke;
  text-align: center;
  padding: 100px 0 80px 0;
  background-image: -webkit-radial-gradient(center center, circle contain, rgba(255, 255, 255, 0.8) 100%, whitesmoke 100%);
  background-color: white;
  background-image: -moz-linear-gradient(#eeeeee, white);
  background-image: -o-linear-gradient(#eeeeee, white);
  background-image: -ms-linear-gradient(#eeeeee, white);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, white));
  background-image: -webkit-linear-gradient(#eeeeee, white);
}

.discover .social {
  padding: 20px;
}

footer {
  padding: 20px;
  background: none repeat scroll 0% 0% rgb(32, 32, 32);
  color: #ccc;
}

footer h4 {
  color: white;
}

footer .emboss {
  width: 87px;
  height: 100px;
  margin: auto;
  background: url('../img/splash.png') no-repeat scroll 0% 0% transparent;
}
