<h1>Collaboration Made <strong>Easy</strong>

<small>version control without the terminal</small></h1>

<div class="sign-up">
  <%= link_to 'Sign Up', new_user_registration_path, :class => "btn btn-warning btn-lg" %>
</div>

<br><br>

<div class="row-fluid">
  <div class="col-md-4">
    <h4>Collaborate without mess</h4>
    <p></p>
    <p>No more -v19_John edits anymore. Keep track of changes done by
    each person and see the differences between papers.</p>
  </div>
  <div class="col-md-4">
    <h4>Supports your editor</h4>
    <p></p>
    <p>Use the same text editor you have now. Have the convenience to work
    offline. Merge changes easily, even with Word documents.</p>
    </p>
  </div>
  <div class="col-md-4">
    <h4>Safe and secure</h4>
    <p></p>
    <p>Your documents are safe and secure. They're only accessible to people
    you grant permission to.</p>
  </div>
</div>

<div class="clearfix"></div>

<br><br>

<p><span class="text-muted">Scientists from over a hundred universities use SciGit, including:</span></p>
<%= image_tag('universities.png') %>

<div class="explore">
  <i class="icon-bookmark-empty icon-2x pull-left"></i> Feel free to <%= link_to 'view public projects', public_projects_path %> people have created!
</div>
