<%= render :partial => 'shared/breadcrumbs',
           :locals => { :paths => {
      'Home' => root_path,
      'Privacy Policy' => privacy_policy_path,
    }}
 %>

<div class="separator-xsmall"></div>

<div class="page-header">
  <h1>Privacy Policy</h1>
</div>

<p>At SciGit Inc. (“SciGit”), your right to privacy is very important to us. We provide you with the ability to
collaborate on projects and documents, and track versions and changes relating to such projects and
documents through our software. In order to provide you with this service effectively, we collect certain
specific information from you, and we also automatically collect information and data relating to the usage of
our services by all our users, including you. Because we are committed to protecting your privacy rights and
the information you provide to us, we have developed this privacy policy. It explains how we will protect your
information and describes how we will use and share it.</p>

<p>This policy is concerned with the protection of your personal information only. Personal information includes any
data that can be used to identify you as an individual, including your name, income, personal opinion, interests,
home contact information, identification numbers, user IDs, passwords, ethnic origin, and age. Under Canadian
law, in a business context, personal information does not include the name, job title, business address, or
business telephone number of any employee in an organization.</p>

<p>This policy describes the following practices:
<ul>
  <li>Collecting information</li>
  <li>Sharing your personal information</li>
  <li>Maintaining your personal information</li>
</ul>
</p>

<p>This privacy policy may change from time to time to reflect SciGit’s internal needs, customer feedback, or
changes in applicable privacy legislation. SciGit will post all such changes on our website, so please visit this
page regularly.</p>

<p>NOTE: SciGit software and services are not intended for children under the age of 13. We do not knowingly
collect or maintain any personal information or non-personally-identifiable information from anyone under the
age of 13 nor is any part of our website, software or service directed to children under the age of 13. We will
close any accounts used exclusively by such children and will remove and/or delete any personal information
we believe was submitted by any child under the age of 13.</p>

<div class="separator-xsmall"></div>
<h2>Collecting Information</h2>
<p></p>

<p>In order to use the services provided by SciGit, you will be required to provide specific information about
yourself, such as your name, address, and e-mail address. We will always inform you when we need
information that personally identifies you, and we will keep this information in strict confidence. Additionally, you
may, on occasion, voluntarily provide SciGit with information that can be classified as personal information – all
such personal information will be stored and maintained in accordance with this privacy policy.</p>

<p>We collect information about you in the following ways:</p>

<h4>As part of your registration for SciGit’s software and services</h4>
<p>We will require your name, address, telephone number and credit card information for billing purposes, and you
will also be provided with a user ID and a password, or the ability to create a user ID and/or password. This
information is kept confidential and stored securely by SciGit.</p>

<h4>Automatically by SciGit’s software and services</h4>
<p>SciGit’s software and services contain features that automatically collect information from users, such as
usage statistics, and other tracking information. Although this information will not identify you personally,
it nevertheless provides certain information about you, and we therefore treat it as personal information.
Additionally, use of SciGit’s website and/or software may result in the collection of technical information such as
your computer's IP address, operating system; such information is used to help us understand the overall usage
pattern of our software.</p>

<h4>As part of your use of SciGit’s software and services</h4>
<p>You have the ability to post information through SciGit’s services, such as articles, documents, changes to
documents or other comments and opinions on projects. Please be advised that any personal information that
you voluntarily post to any public forum or to any area where third parties may legally access it, will NOT be

considered confidential in any way, and SciGit will not have any obligation to protect it in a secured system or
obtain your consent to its disclosure, as you will have made the decision to publicly post it. However, at your
request, SciGit will be happy to change it, remove it, or restrict access to it (subject to technical feasibility) in
order to protect the integrity of the personal information. Please be advised that such removal may also result
in the removal of other information relevant to the project in which you are taking part; you are responsible
for reviewing any projects after the removal of such information and for re-posting any such non-personal
information, if desired.</p>

<h4>You contact SciGit directly</h4>
<p>Customers and business partners often contact us directly. When you contact any SciGit employee by
telephone, e-mail, in person, or through our website, you will be asked to provide consent to the collection of
personal information if your personal information will help us deliver the information, products, or services you
require.</p>

<h4>You respond to communications from SciGit</h4>
<p>From time to time, SciGit may invite you to provide us with information for specific purposes. We may ask for
this information through feedback features on our website or software; we may send out e-mail inviting feedback
or offering products and services; or we may ask you for information concerning support of our products or
services. Your response to these communications may require you to submit personal information and opinions.</p>

<h4>Your information is obtained through a third party</h4>
<p>Occasionally, SciGit will obtain information about you from third parties, such as mailing list providers, third party
service providers, ISPs, or third party application or account providers. Third-party providers are responsible for
obtaining consent for the release of personal information to us from those individuals identified on mailing lists,
surveys, or through other collection methods.</p>

<h4>Third party collection of your information</h4>
<p>Due to the nature of the services provided by SciGit, third parties may collect information from you through the
use of software applications, documents or websites that are accessed by you through the services. These
applications, documents or websites may separately access, and allow a third party to view, your identifiable
information, such as your name, your user ID, or other information such as the articles or documents viewed
by you, or other projects in which you are taking part. Additionally, these applications or third parties may ask
you to provide additional information directly to third parties. Third party products or services are not owned or
controlled by SciGit, and are governed by the third party’s terms and conditions and/or privacy policy. You are
encouraged to read the terms and other policies published by such third parties on their websites or otherwise.
<strong>It is solely your decision whether to provide information, personal or otherwise, to third parties taking
part in projects; SciGit has no responsibility for such information.</strong></p>

<div class="separator-xsmall"></div>
<h2>Sharing your personal information</h2>
<p></p>

<p>Subject to any exceptions stated above in the collection of information section, should SciGit collect any of your
personal information, we will follow these practices regarding the distribution of that information.</p>

<h4>Your personal information is always protected</h4>
<p>SciGit uses reasonable precautions to protect your personal information and store it securely. Access to your
personal information is restricted to those personnel who need it, and SciGit takes reasonable steps to prevent
the unauthorized use or disclosure of your personal information.</p>

<p>SciGit only uses and discloses your personal information if it helps us facilitate your needs, improve our
products and services, meet legal and regulatory requirements, or — to the limited extent possible — manage
our internal business operations. Additionally, if there are any disclosure or use restrictions in your consent
to the collection of your personal information, SciGit will abide by those restrictions (subject to the consent
exceptions listed below). For example, your credit card information will only be used to bill you for the services
that your have authorized or used.</p>

<p>SciGit may combine your information with other information into an aggregate form, so your information no
longer personally identifies you. We may then disclose the aggregate information to third parties, so they can
obtain an overall picture of SciGit’s products, services, customer sectors and/or usage patterns.</p>

<h4>We only share your information with your consent</h4>
<p>SciGit provides your information to third parties only for purposes to which you have consented, and we require
such third parties to keep your information confidential.</p>

<p>
In a few situations, SciGit may be required to disclose your information without your prior consent. For example,
SciGit may disclose your information if we are required to do so by law, or if we believe in good faith that such
disclosure is necessary to:
<ul>
  <li>comply with law or legal process</li>
  <li>protect and defend our rights and property, or the rights and property of a third party</li>
  <li>protect against misuse or unauthorized use of any of SciGit’s products, software, services, or other
proprietary materials</li>
  <li>protect the personal safety of any person</li>
  <li>allow for a change of ownership of SciGit and associated transfer of all personal information to the new
owner of SciGit – this does not affect the protection of your information under this Privacy Policy</li>
</ul>
SciGit will always try to provide you with prior notice of such disclosure; however, such notice may not always
be possible or reasonable given the circumstances.</p>

<p>Additionally, the nature of the services provided requires the routine use of your information in the provision of
the services. Your personal information will only be used to the limited extent necessary to provide the services
that you have requested, and may include the following uses:
<ul>
  <li>to allow third party suppliers, vendors, contractors and other parties to provide products and services
to us or to you, or to otherwise act on our behalf (this may include, without limitation, our authorization
of such third parties to email our users regarding updates, surveys and other inquiries regarding their
experience with our software and service); and</li>
  <li>to allow for advertising and other audits, and surveys to, among other things, validate the size and
composition of the users of SciGit’s services, and understand their experience with SciGit’s software
and service. This may require, among other things, disclosing your viewing history and/or disclosing
records showing which advertisements were viewed by which users.</li>
</ul>
</p>

<div class="separator-xsmall"></div>
<h2>Maintaining your personal information</h2>
<p></p>

<p>SciGit has established the following practices regarding the maintenance of your personal information.</p>

<h4>You can request access to your personal information at any time</h4>
<p>If, for any reason, you wish to review your personal information that SciGit has in its possession, you can
contact our Privacy Officer, who will be pleased to provide you with all your personal information that SciGit has
on file.</p>

<h4>You can request changes to your personal information at any time</h4>
<p>Sometimes, it will be necessary for you to update your personal information SciGit has on file. For example,
if you move or change credit cards, you must update your information in order to keep receiving the services
provided by SciGit.</p>
<p>If you wish to make any changes or corrections to your personal information, please contact our Privacy Officer
who will implement the changes. This will help us ensure our records are always up-to-date.</p>

<h4>You can opt out of communications at any time</h4>
<p>Additionally, you always have the choice of whether you wish to receive information – such as video content
or e-mail updates – from SciGit. In some cases, you may do so simply by changing the preferences in the
software application through which SciGit provides the services.</p>
<p>If you do choose to opt out of communications respecting products and services provided by SciGit, you may
not obtain all the benefits we could otherwise provide, such as updates or warnings. SciGit will not have any
liability to you for your loss of those benefits or any negative effects respecting your use of SciGit’s products or

services.</p>

<h4>You can request that your personal information be destroyed at any time</h4>
<p>A situation may arise where you desire to have all of your personal information that is contained in SciGit’s
records deleted or destroyed. If this is what you wish, please contact our Privacy Officer, who will take care of
removing your personal information from all of SciGit’s records. However, there may be situations where we
are obligated to retain one archival copy of your information to allow us to comply with laws or respond to legal
processes. We will inform you of all such situations, and will only use your retained personal information to the
limited extent necessary to comply with such laws or respond to legal processes.</p>

<div class="separator-xsmall"></div>
<h2>Contacting our Privacy Officer</h2>
<p></p>

<p>SciGit welcomes your comments about this privacy policy, and we would be happy to provide any additional
information you require. Please contact our Privacy Officer at:</p>

<p>Douglas Sherk, <%= mail_to "doug@scigit.com" %><br></p>

<p><em>This privacy policy supplements any agreements you already have with SciGit Inc., such as your User
Agreement, website terms and conditions, and any other software license agreement. Our privacy policy does
not replace the terms of those agreements. By agreeing to those terms and using SciGit’s website, products,
software and services, you are consenting to the collection and use of your personal information by SciGit
Inc. in accordance with this privacy policy. This policy was written in accordance with the Canadian Personal
Information Protection and Electronic Documents Act (PIPEDA).</em></p>
