{%

set search = {
  'label' : 'Search',
  'name' : 'search',
  'id' : 'search',
  'class' : 'search',
  'value' : set_value('search'),
  'maxlength' : 80,
  'size' : 30,
  'placeholder' : 'Search',
  'required' : true,
}

%}

<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>SciGit - {% block title "" %}</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<style>
	body {
	  padding-top: 60px;
	  padding-bottom: 40px;
	}
	</style>
	<link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="/css/style.css">

	<script src="/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
	<script src="/js/jquery-1.8.1.min.js"></script>
	<script src="/js/jquery.form-defaults.js"></script>

	<script src="/js/script.js"></script>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=103640699790274";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    <div class="navbar navbar-fixed-top">
      <div class="custom-color navbar-inner">
        <div class="container">
          <div class="row-fluid">
            <div class="span2">
              <a class="scigit-brand brand" href="/">SciGit</a>
            </div>
            <div class="span4">
              <div class='input-append'>
                {{ form_open('/search', {class: 'navbar-search form-horizontal'}) | raw }}
                  {{ form_input(search) | raw }}
                  <button type="submit" class='btn add-on'>
                      <i class="icon-search"></i>
                  </button>
                {{ form_close() | raw }}
              </div>
            </div>
            {% block nav_items %}
            <div class="span3">
              <div class="row-fluid navitems">
                <div class="span6">
                  <a class="navitem{% if page == 'Explore' %} current{% endif %}" href="/projects/explore">Explore</a>
                </div>
                <div class="span6">
                  <a class="navitem{% if page == 'Projects' %} current{% endif %}" href="/projects/me">Projects</a>
                </div>
              </div>
            </div>
            {% endblock %}
            <div class="span3">
              {% if is_logged_in() %}
                <a class="btn btn-danger pull-right navbutton" href="/auth/logout">Logout</a>
                <a class="btn btn-primary pull-right navbutton" href="/users/profile">My Account</a>
              {% else %}
                <a class="btn btn-primary pull-right navbutton" href="/users/profile">Login</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

		<div class="container">
      <div class="content">
        {% block content "" %}
      </div>
    </div> <!-- /container -->
    {% block footer %}
    <footer>
      <div class="container">
        <p>
          <div class="row-fluid info">
            <div class="span3">
              <a href="/">Home</a>
            </div>
            <div class="span3">
              <a href="/download">Download</a>
            </div>
            <div class="span3">
              <a href="/legal/about">About</a>
            </div>
            <div class="span3">
              <a href="/legal/terms">Terms</a>
            </div>
          </div>
        </p>
        <p>
          Copyright (c) 2012, SciGit Inc.
        </p>
      </div>
    </footer>
    {% endblock %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.2.min.js"><\/script>')</script>

<script src="/js/libs/bootstrap/bootstrap.min.js"></script>

<script src="/js/script.js"></script>
<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>
