{% extends "base.twig" %}

{% block title "Home" %}

{%
set fields = [
	{
		'name': 'email',
		'id': 'email',
		'value': set_value('email'),
		'maxlength': 80,
		'size': 30,
    'class' : 'input-large'
	},
	{
		'name': 'fullname',
		'id': 'fullname',
		'value': set_value('fullname'),
		'maxlength': 20,
		'size': 30,
    'class' : 'input-large',
	},
]
%}

{% block content %}

<script>
$(document).ready(function() {
  addDefault(document.getElementById('email'), "Your email");
  addDefault(document.getElementById('fullname'), "Your full name");
});
</script>

<div class="slogan">
  Collaboration Made <span class="easy">Easy</span>
</div>
<div class="sub-slogan">
  keep your files up to date with your team's changes
</div>

<div class="front">
  <div class="buttons row-fluid">
    <div class="button span6">
      <a href="/auth/login">Sign In</a>
    </div>
    <div class="button span6">
      <a href="/auth/register">Sign Up</a>
    </div>
  </div>
  <img src="/img/front.png" />
</div>

<div class="separator"></div>

<div class="row-fluid">
  <div class="span8">
    <div class="row-fluid features">
      <div class="span6">
        <i class="icon-globe"></i>
        <p class="subtitle">Collaborate without a mess</p>
        <p>No more -v19_John edits anymore. Keep track of changes done by
        each person and see the differences between papers.</p>
      </div>
      <div class="span6">
        <i class="icon-edit feature"></i>
        <p class="subtitle">Supports your favorite editor</p>
        <p>Use the same text editor you have now. Have the convenience to work
        offline. Sync changes whenever you feel like it.</p>
        </p>
      </div>
    </div>
    <div class="row-fluid features">
      <div class="span6">
        <i class="icon-lock feature"></i>
        <p class="subtitle">Safe and secure</p>
        <p>Your documents are safe and secure. They're only accessible to people
        you grant permission to.</p>
      </div>
      <div class="span6">
        <i class="icon-briefcase feature"></i>
        <p class="subtitle">Publish your papers</p>
        <p>Avoid dealing with the hassles of traditional publishers. Have the
        freedom to publish your papers without them.</p>
      </div>
    </div>
  </div>
  <div class="features span4 last">
    <p class="small">Scientists from over a hundred universities use SciGit, including:</p>
    <img src="/img/universities.png" />
  </div>
</div>

<div class="discover" style="display: none">
  <h1>Pricing Plans</h1>
  <div class="separator"></div><div class="separator"></div><div class="separator"></div>
  <div class="row-fluid">
    <div class="span3 well">
      <div class="price free">
        $0
      </div>
      <h2>Free</h2>
      <hr class="soften" />
      <ul class="justify">
        <li><strong>Unlimited public accounts.</strong></li>
        <li>0 private accounts.</li>
        <li>Project sharing.</li>
      </ul>
      <div class="separator"></div>
      <a class="btn btn-primary" href="{{ site_url('#') | raw }}">
        Learn More
      </a>
    </div>
    <div class="span3 well">
      <div class="price">
        $15
      </div>
      <h2>Micro</h2>
      <hr class="soften" />
      <ul class="justify">
        <li>Unlimited public accounts.</li>
        <li><strong>2 private accounts.</strong></li>
        <li>Can set profile private.</li>
      </ul>
      <div class="separator"></div>
      <a class="btn btn-primary" href="{{ site_url('#') | raw }}">
        Learn More
      </a>
    </div>
    <div class="span3 well">
      <div class="price">
        $25
      </div>
      <h2>Basic</h2>
      <hr class="soften" />
      <ul class="justify">
        <li>Unlimited public accounts.</li>
        <li><strong>10 private accounts.</strong></li>
        <li><strong>Project analytics.</strong></li>
      </ul>
      <div class="separator"></div>
      <a class="btn btn-primary" href="{{ site_url('#') | raw }}">
        Learn More
      </a>
    </div>
    <div class="span3 well">
      <div class="price">
        $40
      </div>
      <h2>Gold</h2>
      <hr class="soften" />
      <ul class="justify">
        <li>Unlimited public accounts.</li>
        <li><strong>Unlimited private accounts.</strong></li>
        <li><strong>Preference in searches.</strong></li>
      </ul>
      <div class="separator"></div>
      <a class="btn btn-primary" href="{{ site_url('#') | raw }}">
        Learn More
      </a>
    </div>
  </div>
</div>

{% endblock %}
