{% extends "base.twig" %}

{% block my_account %}
  <a class="btn btn-primary pull-right navbutton" href="/users/profile">Login</a>
{% endblock %}

{% block title "Register" %}

{%
set fields = [
	{
		'name': 'email',
		'id': 'email',
		'value': set_value('email'),
		'maxlength': 80,
		'size': 30,
    'class' : 'input-large'
	},
	{
		'name': 'fullname',
		'id': 'fullname',
		'value': set_value('fullname'),
		'maxlength': 20,
		'size': 30,
    'class' : 'input-large',
	},
]
%}

{% block content %}

<script>
$(document).ready(function() {
  addDefault(document.getElementById('email'), "Your email");
  addDefault(document.getElementById('fullname'), "Your full name");
});
</script>

<div class="hero-unit">
  <p><h2>Collaboration made easy.</h2></p>
  <p>SciGit is a collaboration system for researchers to work on the same
  paper with version control easily.</p>
  <p>Simply drag and drop your files into a SciGit folder and it'll do the
  rest. No more dealing with the terminal or clunky version control
  systems.</p>
  <p><a class="btn btn-success btn-xlarge" href="/auth/register">
    Sign Up
  </a></p>
</div>
<hr class="soften"></hr>
<div class="row-fluid features">
  <div class="span4">
    <div class="feature collaborate"></div>
    <h3>Collaborate without a mess</h3>
    <p>No more -v19_John edits anymore. Keep track of changes done by
    each person and see the differences between papers.</p>
  </div>
  <div class="span4">
    <div class="feature editors"></div>
    <h3>Supports your favorite editor</h3>
    <p>Use the same text editor you have now. Have the convenience to work
    offline. Sync changes whenever you feel like it.</p>
    </p>
  </div>
  <div class="span4">
    <div class="feature secure"></div>
    <h3>Safe and secure</h3>
    <p>Your documents are safe and secure. They're only accessible to people
    you grant permission to.</p>
  </div>
</div>
<div class="row-fluid discover">
  <h1>Share SciGit</h1>
  <div class="social">
    <a href="https://twitter.com/share" class="twitter-share-button"
      data-url="http://scigit.com" data-via="SciGit">Tweet</a>
    <script>!function(d,s,id){var
      js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <div class="fb-like" data-href="http://scigit.com" data-send="true"
      data-layout="button_count" data-width="200" data-show-faces="true"
      data-font="verdana"></div>
  </div>
</div>

{% endblock %}
