<div class="slogan">
  Make Your Firm <span class="easy">Paperless</span>
</div>
<div class="sub-slogan">
  track your legal documents without hassle
</div>

<div class="sign-up">
  <a href="/auth/register">Sign Up</a>
</div>

<div class="row-fluid features">
  <div class="span4">
    <h4>Automatic audit trail</h4>
    <p></p>
    <p>Track who made what change to your documents automatically. Never
    worry about following a document's history again.</p>
  </div>
  <div class="span4">
    <h4>Go paperless</h4>
    <p></p>
    <p>No more losing documents in cabinets. Store them electronically with
    intuitive and easy-to-use scanning technology.</p>
  </div>
  <div class="span4">
    <h4>Safe and compliant</h4>
    <p></p>
    <p>Your documents are stored in your office. Only people you grant permission to
    can access them.</p>
  </div>
</div>

<div class="hero-unit" style="height: 300px;">
  <div class="pull-left" style="margin-right: 40px;"><img src="img/document.png" alt="Document management"></div>
  <div>
    <div style="font-size: 40px;">“</div>
    <div style="padding-left: 420px; padding-right: 20px;">We really value our relationship with the LawDoc client services team. Not only have they become like family to IBM Business Services, they
    continually show their commitment to exceptional customer service. They provide us with the peace of mind of knowing that our documents are always
    available when we want them, where we want them. Their software is top-notch and has never failed us.</div>
    <div class="pull-right" style="font-size: 40px;">”</div>
    <div class="pull-right" style="margin-top: 40px;font-size: 20px;">
      - Margaret Welch, IBM Business Services
    </div>
  </div>
</div>
