<%= render :partial => 'project_permissions/new_modal' %>

<div id="members" class="well-list">
  <table class="table table-hover table-condensed">
    <tr>
      <th>
        <h2>
          Members
          <% if can? :manage, project %>
            <div class="pull-right">
              <%= link_to raw('<i class="icon-plus"></i> Add'), '',
                  :class => 'btn btn-primary btn-valign',
                  :data => {:toggle => 'modal', :target => '#addMemberModal'} %>
            </div>
          <% end %>
        </h2>
      </th>
    </tr>
    <% members.each do |member| %>
      <tr>
        <td class="tabular" valign="middle">
          <div class="statuses">
            <div class="status">
              <% if member.can? :manage, project %>
                <%= link_to '#', :rel => 'tooltip', :title => 'Coauthor' do %>
                  <i class="icon-trophy"></i>
                <% end %>
              <% elsif member.can? :update, project %>
                <a class="rawlink" rel="tooltip" title="Contributor">
                  <i class="icon-edit"></i>
                </a>
              <% elsif member.can? :read, project %>
                <a class="rawlink" rel="tooltip" title="Reader">
                  <i class="icon-eye-open"></i>
                </a>
              <% end %>
            </div>
          </div>
          <%= link_to member.fullname, user_path(member.id) %>
          <% if can? :manage, @project %>
            <div class="buttons shrink">
              <a class="editMember btn btn-small" href="#editMember"
               data-user_id="{{ perm.user_id }}" data-user_name="{{ perm.username }}"
               data-user_perm="{{ perm.permission }}"
               title="Edit {{ perm.username }}'s permissions"
               data-toggle="modal"
               {% if (perm.permission b-and 16) %}disabled="disabled"{% endif %}>
                <i class="icon-edit"></i>
              </a>
              <a class="deleteMember btn-danger btn btn-small" href="#" data-user_id="{{ perm.user_id }}"
               title="Remove {{ perm.username }} from project"
               {% if (perm.permission b-and 16) %}disabled="disabled"{% endif %}>
                <i class="icon-trash"></i>
              </a>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
