<div id="createNewProjectModal" class="modal modal-small hide" data-remote="<%= new_project_path %>">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h2>Create New Project</h2>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <%= link_to 'Create', '#submitCreateNewProject', :class => 'btn btn-primary project-create' %>
    <%= link_to 'Cancel', '', :class => 'btn project-cancel', :data => {:dismiss => 'modal'} %>
  </div>
</div>
