{% extends "base.twig" %}

{% block title "Project Changes" %}

{% block content %}
<ul>
	{% for change in changes %}
		<li>
			{{ anchor("/changes/view/#{change.id}", change.commit_msg) | raw }}
			by {{ change.username }} on {{ change.commit_ts | date }}
		</li>
	{% else %}
		<li>No changes yet.</li>
	{% endfor %}
</ul>
{% endblock %}
