{% extends "base.twig" %}

{% block title %}
My Projects
{% endblock %}

{% block content %}
<ul>
	{% for project in projects %}
		<li>
			{{ anchor("/projects/changes/#{project.id}", project.name) | raw }}
			{% if project.can_admin %}
				({{ anchor("/projects/admin/#{project.id}", 'Admin') | raw }})
			{% endif %}
		</li>
	{% endfor %}
</ul>

{{ anchor('/projects/create', 'Create Project') | raw }}
{% endblock %}
