{% extends "base.twig" %}

{% block title %}
My Projects
{% endblock %}

{% block content %}

<div class="page-header">
	<h1>
		My Projects
    <div class="pull-right">
      <a href="{{ site_url('/projects/create') | raw }}" class="btn btn-large btn-primary title-btn">
        <i class="icon-plus icon-white"></i>
        Create Project
      </a>
    </div>
	</h1>
</div>

<table class="table table-bordered">
	{% for project in projects %}
		<tr>
			<td valign="middle">
				{{ anchor("/projects/changes/#{project.id}", project.name) | raw }}
				<div class="pull-right">
				{% if subscribed[project.id] %}
					<span class="btn-mini">
						<i class="icon-star"></i>
						Subscribed
					</span>
				{% endif %}
				{% if project.can_admin %}
					<a href="{{ site_url("/projects/admin/#{project.id}", 'Admin') | raw }}" class="btn-mini">
						<i class="icon-wrench"></i>
						Admin
					</a>
				{% endif %}
				</div>
			</td>
		</tr>
	{% endfor %}
</table>

{% endblock %}
