<div class="well">
  <div class="permission row-fluid">
    <div class="span3 center">
      <h4><i class="black icon-wrench"></i> Administrator</h4>
      <div class="powers-list">
        <ul>
          <li>Edit project settings.</li>
          <li>Add/remove members.</li>
        </ul>
      </div>
      <a class="btn btn-large btn-primary">{{ form_radio({name: 'permission', value: "1"}) | raw }} Select</a>
    </div>
    <div class="span3 center">
      <h4><i class="black icon-edit"></i> Contributor</h4>
      <div class="powers-list">
        <ul>
          <li>Make changes to files.</li>
          <li>Invite subscribers.</li>
        </ul>
      </div>
      <a class="btn btn-large btn-primary">{{ form_radio({name: 'permission', value: "2"}) | raw }} Select</a>
    </div>
    <div class="span3 center">
      <h4><i class="black icon-eye-open"></i> Reader</h4>
      <div class="powers-list">
        <ul>
          <li>See private projects.</li>
          <li>Member on project page.</li>
        </ul>
      </div>
      <a class="btn btn-large btn-primary">{{ form_radio({name: 'permission', value: "3"}) | raw }} Select</a>
    </div>
    <div class="span3 center {% if not project.public %}extra-faded{% endif %}" id="option-subscriber"
     {% if not project.public %}
     rel="popover" data-content="You cannot add subscribers to private projects." data-original-title="Private Project"
     data-placement="left" data-trigger="hover"
     {% endif %}>
      <h4><i class="black icon-bookmark-empty"></i> Subscriber</h4>
      <div class="powers-list">
        <ul>
          <li>Track project updates.</li>
          <li>Notified for activity.</li>
        </ul>
      </div>
      <a class="btn btn-large btn-primary">{{ form_radio({name: 'permission', value: "4"}) | raw }} Select</a>
    </div>
  </div>
</div>
