{% extends "base.twig" %}

{% block title project.name %}

{% block content %}

<h1>
  Productivity and financial support in academic bioscience
</h1>

<p class="breadcrumbs">
  <a href="#">Home</a> <span class="divider">&gt;</span>
  <a href="#">Articles</a> <span class="divider">&gt;</span>
  <a href="#">Physiology/Biochemistry</a>
</p>

<hr class="soften" />

<div class="well blue-well pull-right center">
  <div class="butn butn-large butn-primary">Buy: $10</div>
  <p class="move-down">Available in: <em>pdf, ebook, xps</em></p>
</div>

<div class="well-padding">
  <h3>Authors</h3>
  <p>
    <a href="#">Nag. S</a>, 
    <a href="#">Yang, H.</a>, 
    <a href="#">Buccola, S.</a>, 
    <a href="#">Ervin, D.</a>
  </p>

  <h3>Journal</h3>
  <p><a href="#">Applied Economics</a>, Volume 45, Issue 19, July 2012</p>

  <h3>Keywords</h3>
  <p>biology, chemistry, productivity, financial, bioscience</p>
</div>

<div class="well light-well">
  <h3>Abstract</h3>
  <hr class="soften" />
  <p>Despite widespread awareness that scientific record and grant funding
  reinforce one another, empirical models of scientific production normally
  consider laboratory inputs to be exogenous. The present article employs a
  cross-section of academic bioscientists to examine the mutual relationship
  between research output and financial support. Information's nonrival
  character is such that scientific output and funding success cannot be
  expressed in strictly supply-and-demand terms. We find the typical bioscience
  laboratory to operate in a range of decreasing returns to scale and to
  over-invest in laboratory equipment and materials. Publication and funding
  success strongly reinforce one another, explaining the right-skewed success
  distributions often observed in science. © 2012 Copyright Taylor and Francis
  Group, LLC.</p>
</div>

<div class="well light-well">
  <h3>References</h3>
  <p class="pull-right" style="margin-top: -20px"><a href="#">Click to view. [+]</a></p>
</div>

{% endblock %}
