{% extends "base.twig" %}

{% block title project.name %}

{% block content %}

<h1>
  Pharmokinetics Study
</h1>

<p class="breadcrumbs">
  <a href="#">Home</a> <span class="divider">&gt;</span>
  <a href="#">Articles</a> <span class="divider">&gt;</span>
  <a href="#">Pharmacy & Drugs</a>
</p>

<hr class="soften" />

<div class="pull-right center">
  <div class="well blue-well">
    <div class="butn butn-large butn-primary">Buy: $10</div>
    <p class="move-down">Available in: <em>pdf, ebook, xps</em></p>
  </div>
  <p><i class="icon-upload"></i>&nbsp;&nbsp;<a href="#">Export citation</a></p>
</div>

<div class="well-padding">
  <h3>Authors</h3>
  <p>
    <a href="#">Nag. S</a>, 
    <a href="#">Yang, H.</a>, 
    <a href="#">Buccola, S.</a>, 
    <a href="#">Ervin, D.</a>
  </p>

  <h3>Journal</h3>
  <p><a href="#">J Pharmacy & Pharmaceutical Science</a>, Volume 45, Issue 19, July 2012</p>

  <h3>Keywords</h3>
  <p>biology, chemistry, productivity, financial, bioscience</p>
</div>

<div class="well light-well">
  <h3>Abstract</h3>
  <hr class="soften" />
  <p>According to the limited information available, exercise has no substantial
  effect on the absorption of orally given drugs. However, it appears to enhance
  absorption from intramuscular, subcutaneous, transdermal and inhalation sites.
  The effects of exercise on drug distribution are complex. Exercise increases
  muscular blood flow resulting, for example, in the increased binding of
  digoxin in working skeletal muscle. On the other hand, exercise may sequester
  some drugs such as propranolol in muscle and reduce the availability of the
  drug for elimination. In addition, exercise decreases the clearance of highly
  extracted drugs and increases their plasma concentration. It may also increase
  the clearance of drugs by increasing biliary excretion. Since exercise reduces
  renal blood flow, the plasma concentrations of those drugs which are primarily
  eliminated by the kidneys may increase. In conclusion, if maintaining the
  plasma concentration of a drug at a certain level is important, consideration
  should be given to alternative drugs if the patient is on intermittent or
  irregular exercise.</p>
</div>

<div class="well light-well">
  <h3>References</h3>
  <p class="pull-right" style="margin-top: -20px"><a href="#">Click to view. [+]</a></p>
</div>

{% endblock %}
