<script>
  $(document).ready(function() {
    $('.deletePubKey').click(function(e) {
      e.preventDefault();

      var target = $(e.target).prop('tagName').toLowerCase() == 'a' ? $(e.target) : $(e.target).parent();

      var key_id = target.data('key_id');

      $.ajax({
        url: '/users/pub_key_delete_ajax/' + key_id,
        type: 'get',
        dataType: 'json',
        success: function(json) {
          if (json.error == 0) {
            $('#deletePubKeySuccess').html(
              json.message + ' <i class="icon-spinner icon-spin"></i>').show();
            $('#deletePubKeyError').hide();

            setTimeout(function() {
              window.location.reload(true);
            }, 1500);
          } else {
            $('#deletePubKeySuccess').hide();
            $('#deletePubKeyError').html(json.message).show();
          }
        }
      });
    });
  })
</script>

<div id="deletePubKeyError" class="alert alert-error hide"></div>
<div id="deletePubKeySuccess" class="alert alert-success hide"></div>
