{% extends "base.twig" %}

{% block title "My Account" %}

{% block content %}

<div class="page-header">
	<h1>My Account</h1>
</div>

{%
set settings_fields = [
  {
    'label' : 'Receive email updates',
    'name' : 'email_updates',
    'id' : 'email_updates',
    'checked' : set_value('email_updates', not user.disable_email),
    'value' : '1',
    'type' : 'checkbox',
  },
  {
    'label' : 'Make profile private',
    'name' : 'private',
    'id' : 'private',
    'checked' : set_value('private', user.private),
    'value' : '1',
    'type' : 'checkbox',
  },
]
%}

{%
set profile_fields = [
	{
    'label' : 'Username',
		'name': 'username',
		'id': 'username',
		'value': set_value('username', user.username),
		'maxlength': 40,
		'size': 40,
    'class' : 'full-width-input',
    'type' : 'static',
	},
	{
    'label' : 'Email',
		'name': 'email',
		'id': 'email',
		'value': set_value('email', user.email),
		'maxlength': 40,
		'size': 40,
    'class' : 'full-width-input',
    'type' : 'input',
	},
	{
    'label' : 'Title',
		'name': 'title',
		'id': 'title',
		'value': set_value('title', user.title),
		'maxlength': 40,
		'size': 40,
    'class' : 'full-width-input',
    'type' : 'input',
	},
	{
    'label' : 'Organization',
		'name': 'organization',
		'id': 'organization',
		'value': set_value('organization', user.organization),
		'maxlength': 40,
		'size': 40,
    'class' : 'full-width-input',
    'type' : 'input',
	},
	{
    'label' : 'Location',
		'name': 'location',
		'id': 'location',
		'value': set_value('location', user.location),
		'maxlength': 40,
		'size': 40,
    'class' : 'full-width-input',
    'type' : 'input',
	},
	{
    'label' : 'Name',
		'name': 'name',
		'id': 'name',
		'value': set_value('name', user.fullname),
		'maxlength': 40,
		'size': 40,
    'class' : 'full-width-input',
    'type' : 'input',
	},
	{
    'label' : 'About',
		'name': 'about',
		'id': 'about',
		'value': set_value('about', user.about),
		'maxlength': 1024,
		'size': 1024,
    'class' : 'full-width-input',
    'type' : 'textarea',
	},
]
%}

<ul class="nav nav-tabs">
  <li{% if form_name == 'settings' %} class="active"{% endif %}><a href="#settings" data-toggle="tab">Settings</a></li>
  <li{% if form_name == 'profile' %} class="active"{% endif %}><a href="#profile" data-toggle="tab">Profile</a></li>
</ul>

{% if message %}
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{ message }}
  </div>
{% endif %}

<div id="my-tab-content" class="tab-content">
  <div class="tab-pane fade in {% if form_name == 'settings' %}active{% endif %}" id="settings">
    {% include 'forms/generic.twig'
        with {'fields': settings_fields,
              'form' : {class: 'well'},
              'columns': [2, 8, 2],
              'form_name': 'settings'} %}
  </div>
  <div class="tab-pane fade in {% if form_name == 'profile' %}active{% endif %}" id="profile">
    {% include 'forms/generic.twig'
      with {'fields': profile_fields,
            'form': {class: 'well'},
            'columns': [1, 8, 3],
            'form_name': 'profile'} %}
  </div>
</div>

{% endblock %}
