{% extends "base.twig" %}

{% block title "user.username's Profile" %}

{% block content %}

<p class="breadcrumbs">
  {{ anchor("/", "Home") | raw }} <span class="divider">&gt;</span>
  <span class="current">{{ anchor("/users/profile/#{user.id}", user.username ~ "'s Profile") | raw }} </span>
</p>
<hr class="soften"></hr>

<p>This user's profile is set to private.</p>

<div class="separator"></div>

{% endblock %}
