{% extends "base.twig" %}

{% block title "Login" %}

{%
set fields = [
	{
		'label': 'Login or email',
		'name': 'login',
		'id': 'login',
		'value': set_value('login'),
		'maxlength': 80,
		'size': 30,
	},
	{
		'label': 'Password',
		'name': 'password',
		'id': 'password',
		'value': set_value('password'),
		'type': 'password',
		'maxlength': 20,
		'size': 30,
	},
	{
		'label': 'Remember me',
		'name': 'remember',
		'id': 'remember',
		'value': 1,
    'checked': set_value('remember'),
		'type': 'checkbox',
	}
]
%}

{%
set buttons = [
  {
    'value' : 'Login',
    'class' : 'butn butn-primary butn-large'
  },
  {
    'value' : 'Forgot password',
    'class' : 'butn butn-large',
    'type' : 'link',
    'href' : '/auth/forgot_password'
  },
  {
    'value' : 'Sign up',
    'class' : 'butn butn-large',
    'type' : 'link',
    'href' : '/auth/register'
  },
]
%}

{% block content %}


<div class="login-form">
  <div class="page-header">
    <h2>Login</h2>
  </div>
  {% include 'forms/generic.twig'
      with {'fields': fields,
            'form' : {class: ''},
            'columns': [4, 8],
            'buttons' : buttons} %}
</div>

{% endblock %}
