{% extends "base.twig" %}

{% block title "Register" %}

{%
set fields = [
	{
		'label': 'Username',
		'name': 'username',
		'id': 'username',
		'value': set_value('username'),
		'maxlength': 20,
    'type' : 'text',
    'class' : 'full-width-input',
		'size': 30,
	},
	{
		'label': 'Email',
		'name': 'email',
		'id': 'email',
		'value': set_value('email'),
		'maxlength': 80,
    'type' : 'email',
    'class' : 'full-width-input',
		'size': 30,
	},
	{
		'label': 'Password',
		'name': 'password',
		'id': 'password',
		'value': set_value('password'),
		'type': 'password',
		'maxlength': 20,
    'class' : 'full-width-input',
		'size': 30,
	},
	{
		'label': 'Confirm Password',
		'name': 'confirm_password',
		'id': 'confirm_password',
		'value': set_value('confirm_password'),
		'type': 'password',
		'maxlength': 20,
    'class' : 'full-width-input',
		'size': 30,
	}
]
%}

{% block content %}

<br />

<div class="row-fluid">
  <div class="span6 sign-up-form">
    <div class="sign-up-form-inner">
      <h2>Sign Up</h2>
      <hr class="soften" />
      {% include 'forms/generic.twig'
          with {'fields': fields,
                'form' : {class: ''},
                'columns': [4, 8],
                'form_name': 'settings'} %}
      {{ form_close() | raw }}
    </div>
  </div>
  <div class="span6">
    <div class="screenshot">
      <img src="/img/illustration.png" alt="SciGit" />
    </div>
  </div>
</div>

{% endblock %}
