{% extends "base.twig" %}

{% block title "Home" %}

{% block content %}

<div class="alert alert-error">
  SciGit does not currently support {{ get_os() }}. Don't worry, we'll send you
  an email when we do support it! Thanks for being patient.
</div>

<div class="separator-small"></div>

<div class="center">
  <a class="butn butn-primary butn-xlarge" href="/">Go Home</a>
</div>

{% endblock %}
