@import 'include/mixins';

#last-change {
  .change-message {
    a {
      color: #999;
    }
  }
}

#file-display {
  .well-list-item-inner {
    padding: 0;
  }

  table {
    margin-bottom: 0;

    tr:first-child td {
      border-top: 1px solid #ddd;
    }

    .line-number {
      @include user-select(none);

      color: #777;
      font-family: consolas, courier, monospace;
      font-size: 13px;
      border-right: 1px solid #ddd;
      text-align: right;
      padding: 2px 5px 2px 8px;
      
      &:before {
        content: attr(data-content);
      }
    }

    .line-content {
      white-space: pre;
      width: 100%;
      padding: 2px 8px;
    }

    td {
      border-top: 0;
    }
  }
}

#file-listing {
  .well-list-item-inner {
    padding: 0;
  }

  table {
    margin-bottom: 0;
    i.fa {
      color: #428bca; // same color as link
    }

    .file-size {
      border-left: 1px solid #ddd;
      width: 150px;
    }
  }
}
