@import 'include/mixins';

#settings-page {
  .page-header {
    margin-bottom: 0px;
  }

  h1 {
    // XXX: this can be changed when the other page headers are changed
    margin-bottom: 15px;
  }

  .nav {
    padding-right: 0px;
    border-right: 1px solid #eee;
    height: 400px;

    li {
      margin-top: 0px;
      a {
        border-radius: 0;
      }
    }
  }

  .tab-content {
    padding-top: 20px;
    padding-left: 20px;
  }

  h4 {
    margin: 20px 0;
  }

  .tab-content {
    @include respond-to(handhelds, tablets) {
      div[class*="col-"] {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .btn-primary {
      margin-top: 10px;
    }

    table {
      width: auto;
      td {
        vertical-align: middle;
      }
    }
  }
}
