@import 'include/mixins';

body {
  .well-list, .blue-well-list {
    $well-list-border: 1px solid darken($sg-gray, 5%);
    $well-list-padding: 15px 20px;

    display: table;
    width: 100%;

    .well-list-header {
      display: table-row;

      .well-list-header-inner {
        background: $sg-gray;

        border-top: $well-list-border;
        border-left: $well-list-border;
        border-right: $well-list-border;

        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        display: table-cell;
        padding: $well-list-padding;

        .well-list-header-buttons {
          display: table;

          & > * {
            display: table-cell;
            vertical-align: middle;
          }

          h1, h2, h3, h4, h5 {
            width: 100%;
          }

          .btn {
            width: 200px;
          }
        }
      }
    }

    .well-list-item {
      display: table-row;

      .well-list-item-inner {
        display: table-cell;

        padding: $well-list-padding;

        border-left: $well-list-border;
        border-right: $well-list-border;

        &:last-child {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          border-bottom: $well-list-border;
        }

        &:hover {
          background: rgba(0, 0, 255, 0.035);
        }

        &.well-list-item-empty:hover {
          background: inherit;
        }
      }
    }
  }
}
