{% extends "base.twig" %}

{% block title %}
Contact Us
{% endblock %}

{% block content %}

<p class="breadcrumbs">
  {{ anchor("/", "Home") | raw }} <span class="divider">&gt;</span>
  {{ anchor("/support", "Help and Support") | raw }}<span class="divider">&gt;</span>
  <span class="current">{{ anchor("/support/contact_us", "Contact Us") | raw }}</span>
</p>

<div class="separator-small"></div>

<h1>Contact Us</h1>
<hr class="soften" />

<p>You can contact us at any one of the following:</p>

<div class="separator-small"></div>

<h2>Email</h2>
<p></p>
<p>Eric Ho, Co-founder and CEO (<a href="mailto:eric@scigit.com">eric@scigit.com</a>)<br>
Doug Sherk, Co-founder and Privacy Officer (<a href="mailto:doug@scigit.com">doug@scigit.com</a>)</p>

<div class="separator-small"></div>

<h2>Mail</h2>
<p></p>
<p>SciGit Inc.<br>
151 Charles Street West, Suite 100, The Tannery<br>
Kitchener Ontario Canada N2G 1H6</p>

{% endblock %}
