{% extends "base.twig" %}

{% block title %}
Privacy Policy
{% endblock %}

{% block content %}

<p class="breadcrumbs">
  {{ anchor("/", "Home") | raw }} <span class="divider">&gt;</span>
  {{ anchor("/legal", "Legal") | raw }} <span class="divider">&gt;</span>
  <span class="current">{{ anchor("/legal/user_agreement", "User Agreement") | raw }}</span>
</p>

<div class="separator-small"></div>

<h1>SciGit User Agreement</h1>
<hr class="soften" />

<p>This User Agreement (the “Agreement”) is a legal agreement between you and SciGit Inc. (“SciGit”)
  respecting your use of SciGit services as described herein and on SciGit’s website. BY INDICATING
  YOUR ACCEPTANCE BY CLICKING ON THE APPROPRIATE BUTTON WHEN SIGNING UP FOR THE
  SERVICES, OR BY OTHERWISE USING THE SERVICES, YOU ARE AGREEING TO BE BOUND BY
  THE TERMS OF THIS AGREEMENT. If you have any questions or concerns about the terms of this
  agreement, please contact us at <a href="mailto:legal@scigit.com">legal@scigit.com</a>.</p>

<ol>
<li>
  <h5>Definitions</h5>
  <ol>
  <li>“Services” has the meaning set forth in Section 2 below.</li>
  <li>“Software” means the SciGit desktop application that a user must download in order to utilize the
  Services.</li>
  </ol>
</li>
<p></p>
<li>
  <h5>The Services</h5>
  <ol>
  <li>SciGit will provide users with the ability to collaborate on projects and documents, and track
  versions and changes relating to such projects and documents, through the Software (the
      “Services”). The Services are provided subject to the terms and conditions of this Agreement.</li>
  <li>In order to use the Services, you must:<br>
  (a)provide up-to-date, complete and accurate registration information, including your first and
  last name, your valid mailing address, your phone number and your valid email address;<br>
  (b)provide up-to-date, complete and accurate credit card information for a credit card that is
  valid and legally registered to you; and<br>
  (c) be at all times in compliance with the terms and conditions of this Agreement and applicable
  law.<br>
  You specifically agree that SciGit may rely on the accuracy of the information provided by you to
  SciGit, and that SciGit will have no liability whatsoever, whether to you or to any third party, for
  any claims or damages resulting from inaccurate information provided to SciGit.</li>
  <li>SciGit may provide you with certain information to allow you to use the Services, such as a user
  ID and a password or the ability to create a user ID and/or password (the “Access Information”).
  SciGit will store the Access Information in encrypted form. The Access Information is provided
  on the understanding that it is personal to you; you will not permit anyone other than you to
  obtain access to the Services using the Access Information. SciGit is not responsible or liable
  in any way for any use of the Services (authorized or unauthorized) by any party accessing the
  Services using your Access Information, and you accept all responsibility for such use of the
  Services and any consequences resulting from such use of the Services.</li>
  <li>SciGit reserves the right to change, suspend or discontinue the Services at any time, including
  the availability of any feature or content or account access. SciGit may also impose limits on the
  Services and/or terminate or restrict your access to parts or all of the Services without notice or
  liability.</li>
  <li>Use of the Services may contain references to third parties, links to third party websites or
  documents, and may incorporate information obtained from third parties. All such references,
  links and information are provided “AS IS”. Third party websites, documents, information,
  opinions, advice or statements (including those made by users of the Services) are not under
  the control of SciGit, and SciGit is not responsible or in any way liable for their contents,
  including without limitation their accuracy, reliability, copyright compliance, legality, decency,
  or any other aspect of their content. Other than to the limited extent required under applicable
  consumer protection law, under no circumstance will SciGit be liable for any loss or damage
  caused by your reliance on information obtained through the Services or a third party linked
  site (including any opinions, statements or advice), or your reliance on any information, product
  or service obtained from any user of the Services or any third party linked site. It is your
  responsibility to evaluate the accuracy, completeness or usefulness of any opinion, advice or
  other content available through the Services, or obtained from a third party linked site. You are
  responsible for viewing and abiding by the privacy statements and terms of use posted at any
  third party website accessed through the Services and/or any other agreements entered into
  between you and such third party, including other users.</li>
  </ol>
</li>
<p></p>
<li>
  <h5>Your Use of the Services</h5>
  <ol>
  <li>You agree that:<br>
  (a)You will not permit anyone other than you, as an individual, to obtain access to the Services
  through your SciGit account or otherwise using your Access Information, and will only use
  the Services in accordance with this Agreement and applicable law;<br>
  (b)You will ensure that any information that is provided to SciGit pursuant to this Agreement is
  true, accurate, current and complete;<br>
  (c) You will be solely responsible for all activities with respect to the Services undertaken by you;
  (d)You will not use the Services for any commercial purposes or for the benefit of any third
  party;<br>
  (e)You will not access or view any content and programming in violation of specified user
  restrictions, if any;<br>
  (f) You represent and warrant that you have the right and the authority to enter into this
  Agreement and to use the Services;<br>
  (g)You will ensure that your use of the Services does not interfere with, degrade, or adversely
  affect any software, system, network or data used by any person including SciGit and other
  users of the Services (including by ensuring that you do not upload any viruses or other
      harmful code in using the Services);<br>
  (h)You will not in any way use the Services to transmit harassing, abusive, libelous, illegal or
  deceptive messages or information, or to commit or attempt to commit a crime or facilitate
  the commission of any crime or other illegal or tortious acts, including any infringement of
  intellectual property rights, any fraudulent, obscene or pornographic activities, any deceptive
  impersonation, any activities involving the exploitation of children, or any activities that violate
  any third party’s privacy rights;<br>
  (i) You will not interfere with or in any manner compromise any of SciGit's security measures;<br>
  (j) Except as authorized on a particular project or document on which you are authorized to
  work or participate, you will not alter, modify, delete, or otherwise interfere with or in any
  manner compromise any content, information, services and/or features accessible through
  the Services or Software;<br>
  (k)You will cooperate with SciGit and provide information requested by SciGit to assist SciGit
  and/or relevant authorities in investigating or determining whether there has been a breach of
  this Agreement or applicable law.<br>
  Without limiting the foregoing, you agree not to violate any applicable laws, the rights of others,
  or the operational and security mechanisms of the Services.</li>
  <li>You agree that any material, information or idea that you post on or through the Services or
  the Software, or that you otherwise transmit to SciGit by any means (each, a "Submission"),
  is submitted at your own risk. Where such Submission is posted to a public project, it is
  considered non-confidential and may be disseminated or used by SciGit or any third party
  without compensation or liability to you for any purpose whatsoever. Where such Submission is
  posted to a restricted project, SciGit will not disseminate such Submission without your consent,
  other than as required to provide users with the Services, but you acknowledge that SciGit has
  no control over the other users who have been granted permissions to such restricted project,
  and that such third parties are not subject to any confidentiality restrictions through SciGit; you
  are solely responsible for ensuring that you have separately legally protected your Submission
  with respect to such third parties, if applicable. <strong>It is solely your decision whether to provide
  information, personal or otherwise, to third parties taking part in projects; SciGit has no
  responsibility or liability relating to your disclosure of such information.</strong></li>
  <li>By posting or otherwise providing a Submission to SciGit, whether for inclusion on the Services
  or otherwise, you represent and warrant that you have all necessary permissions to grant the
  licenses below to SciGit. You further acknowledge and agree that you are solely responsible
  for anything you post or otherwise make available on or through the Service, including,
  without limitation, the accuracy, reliability, nature, rights clearance, compliance with law and
  legal restrictions associated with any Submission. Accordingly, you hereby grant SciGit, its
  affiliates and successors a perpetual, worldwide, non-exclusive, royalty-free, sublicensable
  and transferable license to use, copy, distribute, transmit, modify, develop, prepare derivative
  works of, publicly display, and publicly perform any Submission on, through or in connection with
  SciGit’s provision of the Services. This provision does not apply to personal information that is
  subject to SciGit’s Privacy Policy except to the extent that you make such personal information
  publicly available on or through the Services. Notwithstanding the foregoing, SciGit reserves the
  right to remove any Submission from the Services if such Submission violates this Agreement,
  applicable laws or any other written policy or terms of use published by SciGit from time to time,
  is the subject of a user complaint, or is otherwise objectionable, as determined by SciGit, in its
  sole discretion.</li>
  </ol>
</li>
<p></p>
<li>
  <h5>The Software</h5>
  <ol>
  <li>SciGit hereby grants you a personal, non-exclusive, revocable, non-transferable license to
  use the Software on any compatible personal computer or other hardware, and solely for the
  purposes of using the Services. This license does not imply any rights to future upgrades or
  updates to, or versions of, the Software. However, if SciGit does provide you with any Software
  upgrades, updates or versions, such updates, upgrades and versions shall be subject to the
  terms and conditions of this Agreement or such agreement, if any, which accompanies such
  upgrades, updates or versions. Such Software upgrades, updates and versions may be subject
  to additional payments. You do not have the right to obtain or use any source code for the
  Software.</li>
  <li>You shall not:<br>
  (a)
  copy, reproduce, modify, enhance, improve, alter, reverse engineer, disassemble,
  deconstruct, translate, decrypt, reverse compile or convert into human readable form the
  Software or any part thereof;<br>
  (b)distribute, assign, license, sublicense, lease, rent, transfer, sell or otherwise provide access
  to the Software, in whole or in part, to any third party on a temporary or permanent basis;<br>
  (c)remove, deface, cover or otherwise obscure any proprietary rights notice or identification on
  the Software (including without limitation any copyright notice);<br>
  (d)copy any written materials accompanying any portion of the Software unless specifically
  authorized in writing to do so by SciGit;<br>
  (e)use the Software in any way inconsistent with the use parameters for the Services;<br>
  (f) attempt to hack the Software or any communication initiated by the Software or to defeat
  or overcome any encryption and/or other technical protection methods implemented by
  SciGit with respect to the Software and/or data and/or content or programming transmitted,
  processed or stored by SciGit or other users of the Services;<br>
(g)collect any information or communication about the users of the Services or Software by
monitoring, interdicting or intercepting any process of or communication initiated by the
Software or Services or by developing or using any software or any other process or method
that engages or assists in engaging in any of the foregoing<br>
(h)use any type of bot, spider, virus, clock, timer, counter, worm, software lock, drop dead
device, packet-sniffer, Trojan-horse routing, trap door, time bomb or any other codes or
instructions that are designed to be used to provide a means of surreptitious or unauthorized
access to the Services or any computer system or that are designed to monitor, distort,
       delete, damage or disassemble the Software or its ability to communicate and perform the
       Services; or<br>

       (i) authorize, permit or otherwise acquiesce in any other party engaging in any of the activities
       set forth in (a) – (h) above, or attempting to do so.<br>
       For the purposes of this provision “copy or reproduce” shall not include copying of statements
       and instructions of the Software during program execution when used in accordance with and
       for the purposes described in the user documentation or in the course of making backups of the
       computer or system on which the Software is installed, in accordance with industry standard
       business practices.</li>
  <li>You specifically acknowledge that the Software is not developed, or licensed for use in any
  nuclear, aviation, mass transit, or medical application or in any other inherently dangerous, time-
  sensitive or mission critical applications. You agree that SciGit shall not be liable for any claims
  or damages arising from such use if you use the Software for such applications. You agree to
  hold SciGit harmless from any claims for losses, costs, damages, or liability arising out of or in
  connection with the use of the Software for such applications.</li>
  <li>You hereby represent and warrant that (i) you are not located in a country that is subject to a
  U.S. Government embargo, or that has been designated by the U.S. Government as a “terrorist
  supporting” country; and (ii) you are not listed on any U.S. Government list of prohibited or
  restricted parties.</li>
  </ol>
</li>
<p></p>
<li>
  <h5>Fees for Services</h5>
  <ol>
  <li>You agree to pay all applicable fees in connection with the Services selected by you. You
  authorize SciGit to automatically charge you for any and all fees incurred by you for Services
  selected by you. SciGit reserves the right to change its price list and to institute new charges
  at any time upon notice to you, which notice may be provided by means of updates on SciGit’s
  website. Your use of the Services following such changes constitutes your acceptance of any
  new or increased charges.</li>
  </ol>
</li>
<p></p>
<li>
  <h5>Privacy and Confidentiality</h5>
  <ol>
  <li>Your personal information will be handled in accordance with SciGit’s Privacy Policy. To view
  SciGit’s Privacy Policy, please visit the following link: {{ anchor("/legal/privacy_policy", "Privacy Policy") | raw }}. Notwithstanding
  the foregoing, SciGit reserves the right at all times to disclose any information as it deems
  necessary to satisfy any applicable law, regulation, legal process or governmental request.</li>
  <li>Additionally, by submitting personal information to SciGit pursuant to this Agreement, including
  without limitation your name, address, and e-mail address, you consent to the collection,
  processing, transmission and disclosure of such information by SciGit for the purposes of
  SciGit’s provision of the Services and SciGit’s internal use and specifically the purposes for
  which such information has been requested, such as billing requirements. You specifically
  agree that SciGit may disclose your name, address, e-mail address and/or account information
  to third party service providers to the limited extent necessary to provide you with the Services.</li>
  </ol>
</li>
<p></p>
<li>
  <h5>Intellectual Property Rights</h5>
  <ol>
  <li>You are responsible for complying with all applicable intellectual property laws in your use of the
  Services, and agree to indemnify, defend and hold SciGit harmless from any and all claims that
  arise as a result of your non-compliance with intellectual property laws and/or your infringement
  of any intellectual property rights.</li>
  <li>You acknowledge that the Software is owned by SciGit, who retains all right, title and interest
  therein, and is protected by Canadian, U.S. and international copyright laws. In addition, other
  intellectual property laws (including patent laws) and treaties may protect the Software and
  Services. It is therefore your responsibility to fully comply with such laws in using and handling
  the Services and Software. Nothing herein shall be construed as constituting a sale of the
  Software or any portion thereof to you.</li>
  <li>You do not acquire any intellectual property or other proprietary rights under this Agreement,
  including without limitation any right, title or interest in and to patents, copyrights, trade-marks,
  industrial designs, confidential information, or trade secrets, whether registered or unregistered,
  relating to the Software, the Services, or any part thereof. Your only rights to the Software, the
  Services and any part thereof shall be those rights expressly licensed or granted to you under
  this Agreement. Any rights not expressly granted under this Agreement are reserved.</li>
  <li>For greater certainty, all intellectual property rights in third party content accessible through the
  Services and Software, including, without limitation, any content, documents, articles, projects,
  services and/or features contained in or accessed through the Software, are the property of the
  respective content owners and may be protected by applicable copyright or other intellectual
  property laws and treaties. Each such third party expressly reserves all rights into such content.
  You understand that you are not granted any commercial, sale, resale, reproduction, distribution
  or promotional use rights for or to any such third party content. Additionally, the unauthorized
  reproduction or distribution of such third party content, including, without limitation, any content,
  documents, articles, projects, services and/or features contained in or accessed through the
  Services and/or Software, is prohibited by applicable law.</li>
  </ol>
</li>
<p></p>
<li>
  <h5>Disclaimer of Warranties</h5>
  <ol>
  <li>THE SERVICES ARE PROVIDED TO YOU "AS IS" WITHOUT WARRANTY OR CONDITIONS
  OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED
  TO, THE IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY AND
  FITNESS FOR A PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT, SECURITY OR
  ACCURACY. SCIGIT ASSUMES NO RESPONSIBILITY FOR ANY ERRORS, OMISSIONS
  OR INACCURACIES WHATSOEVER IN THE INFORMATION PROVIDED THROUGH THE
  SERVICES OR SOFTWARE. UNDER NO CIRCUMSTANCES WILL SCIGIT BE LIABLE FOR
  ANY LOSS OR DAMAGE CAUSED BY YOUR RELIANCE ON INFORMATION OBTAINED
  THROUGH USE OF THE SERVICES OR THE SOFTWARE. IT IS YOUR RESPONSIBILITY
  TO EVALUATE THE ACCURACY, COMPLETENESS AND USEFULNESS OF ANY
  INFORMATION PROVIDED, AND USE OF THE SERVICES AND SOFTWARE IS SOLELY
  AT YOUR OWN RISK. SciGit has no special relationship with or fiduciary duty to you, and you
  acknowledge that SciGit has no control over, and no duty to take any action regarding any acts
  or omissions taken by you or any other user of the Services, including without limitation: (a)
  which users use the Services, (b) what material you or other users access on or through the
  Services, (c) how you or any other user may interpret or use materials accessed through the
  Services, or (d) what actions you may take as a result of having been exposed to information
  obtained through the Services. <strong>SciGit makes no representations or warranties whatsoever
  concerning any information obtained through the Services, and SciGit will not be
  responsible or liable for the accuracy, copyright compliance, legality or decency of any
  material contained in or accessed through the Services.</strong> Some jurisdictions do not allow the
  exclusion of certain warranties, so the above limitations or exclusions may not apply to you.</li>
  </ol>
</li>
<p></p>
<li>
  <h5>Limitation of Liability</h5>
  <ol>
  <li>The only type of damages that can be recovered against SciGit arising from or related to this
  Agreement including without limitation in relation to the provision of the Services, shall be your
  direct damages, if any. In no event shall the aggregate liability of SciGit exceed the amount
  paid by you for the portion of the Services that gave rise to the claim. SCIGIT SHALL HAVE
  NO LIABILITY WHATSOEVER TO YOU OR ANY PARTY CLAIMING BY OR THROUGH YOU
  FOR THE ACCURACY, TIMELINESS OR CONTINUED AVAILABILITY OF THE SERVICES.
  Without limiting the foregoing, your only right with respect to any problems or dissatisfaction with
  the Software is to uninstall and cease use of such Software.</li>
  <li>EXCEPT FOR THE LIMITED DIRECT DAMAGES SPECIFIED ABOVE, TO THE MAXIMUM
  EXTENT PERMITTED BY LAW, IN NO EVENT SHALL SCIGIT BE LIABLE FOR ANY
  DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, INDIRECT, SPECIAL,
      INCIDENTAL, EXEMPLARY OR CONSEQUENTIAL OR PUNITIVE DAMAGES, FAILURES
      TO TRANSMIT OR RECEIVE ANY DATA, COMPUTER OR MOBILE DEVICE FAILURE,
      PROBLEMS, LOSS OR DAMAGE ASSOCIATED WITH ANY USE OF THE SOFTWARE OR
      SERVICES, OR OTHER PECUNIARY LOSS ARISING OUT OF OR RELATED TO THIS
      AGREEMENT) WHETHER OR NOT SUCH DAMAGES WERE FORESEEN OR UNFORESEEN
  INCLUDING WITHOUT LIMITATION THE USE OF OR INABILITY TO USE THE SOFTWARE
  OR SERVICES, EVEN IF SCIGIT HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH
  DAMAGES. SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OR EXCLUSION
  OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES SO THE ABOVE
  LIMITATIONS OR EXCLUSIONS MAY NOT APPLY TO YOU.</li>
  </ol>
</li>
<p></p>
<li>
  <h5>Indemnification</h5>
  <ol>
  <li>You agree to indemnify, defend and hold harmless SciGit, its parents, subsidiaries,
  affiliates, officers and employees, including costs and attorneys' fees, from any claim or demand
  made by any third party due to or arising out of: (a) your access to the Services, the Software,
  and any content obtained by you through the Services or Software, (b) your use or misuse of the
  Services and/or Software, (c) any breach of this Agreement by you, (d) the infringement by you,
  or any third party obtaining access to the Services through you, of any intellectual property or
  other right of any person or entity, or (e) your violation of any third-party rights or any applicable
  laws. SciGit reserves the right, at your expense, to assume the exclusive defence and control of
  any matter otherwise subject to indemnification by you, in which event you will cooperate with
  SciGit, at your expense, in asserting any available defences.</li>
  </ol>
</li>
<p></p>
<li>
  <h5>Termination</h5>
  <ol>
  <li>You may terminate this Agreement at any time upon notice to SciGit. Upon any
  termination of this Agreement for any reason (whether by you or by SciGit), you must cease
  all use of the Services and Software and destroy and/or permanently delete all copies of the
  Software in your possession.</li>
  <li>SciGit reserves the right, in its sole and complete discretion, to revoke your authorization
  to use the Services at any time with or without cause, for any reason or no reason. Upon
  termination of your account, your right to use the Services, access any projects or material
  through the Services, and use any materials obtainable through the Services (unless separately
      licensed) will immediately cease. Any fees paid by you are non-refundable. All restrictions
  contained in this Agreement shall survive the termination of your right to use the Services.</li>
  <li>Without limiting other remedies, SciGit may limit your activity, warn other users of your
  actions, issue a warning, temporarily suspend, indefinitely suspend or terminate your account
  and refuse to provide Services to you if: (a) you breach this Agreement or the documents it
  incorporates by reference; (b) SciGit is unable to verify or authenticate any information you
  provide; or (c) SciGit believes that your actions may cause financial loss or legal liability for you,
  other users or SciGit.</li>
  <li>SciGit reserves the right to investigate suspected violations of this Agreement. You
  hereby authorize SciGit to cooperate with (1) law enforcement authorities in the investigation
  of suspected criminal violations and (2) system administrators at Internet service providers,
  networks or computing facilities, and other content providers in order to enforce the terms and
  conditions of this Agreement.</li>
  <li>The above-described actions are not SciGit’s exclusive remedies and SciGit may take
  any other legal, equitable or technical action it deems appropriate in the circumstances. SciGit
  will not be liable for any damage caused by the termination of this Agreement.</li>
  </ol>
</li>
<p></p>
<li>
  <h5>General Provisions</h5>
  <ol>
  <li>This Agreement constitutes the entire agreement between the parties with respect to the
  subject matter hereof and cancels and supersedes any prior understandings and agreements
  between the parties. There are no provisions, representations, undertakings, agreements, or
  collateral agreements between the parties other than as set out in this Agreement.</li>
  <li>This Agreement is governed by the laws of the Province of Ontario, Canada, without
  regard to conflict of laws provisions, and you agree to submit to the exclusive jurisdiction of the
  courts located in the Province of Ontario, Canada. The parties expressly agree that neither the
  United Nations Convention on Contracts for the International Sale of Goods nor the Uniform
  Computer Information Transactions Act shall apply to this Agreement or to any contracts relating
  to goods or services obtained through this site.</li>
  <li>You acknowledge and agree that by clicking on the "I AGREE" button (or similar buttons
      or links as may be designated by SciGit to show your acceptance of this Agreement and/or your
      agreement to download and install the Software and/or use the Services), you are entering into
  a legally binding contract. You hereby agree to the use of electronic communication in order
  to enter into contracts, place orders and create other records and to the electronic delivery of
  notices, policies and records of transactions initiated or completed through the Software or
  the Services. Furthermore, you hereby waive any rights or requirements under any laws or
  regulations in any jurisdiction which require an original (non-electronic) signature or delivery or
  retention of non-electronic records, to the extent permitted under applicable mandatory law. A
  printed version of this Agreement and of any notice given in electronic form shall be admissible
  in judicial or administrative proceedings based upon or relating to this Agreement to the same
  extent and subject to the same conditions as other business documents and records originally
  generated and maintained in printed form.</li>
  <li>If any part of this Agreement is determined to be invalid or unenforceable pursuant to
  applicable law including, but not limited to, the warranty disclaimers and liability limitations set
  forth above, then the invalid or unenforceable provision will be deemed superseded by a valid,
  enforceable provision that most closely matches the intent of the original provision and the
  remainder of this Agreement shall continue in full force and effect.</li>
  <li>It is the express will of the parties that this Agreement and all related documents have
  been drawn up in English. C'est la volonté expresse des parties que la présente convention ainsi
  que les documents qui s'y rattachent soient rédigés en anglais.</li>
  <li>If you are residing in a jurisdiction which restricts the use of internet-based applications
  according to age, or which restricts the ability to enter into agreements such as this Agreement
  according to age and you are under such a jurisdiction and under such age limit, you may
  not enter into this Agreement and download, install or use the Software. Furthermore, if you
  are residing in a jurisdiction where it is forbidden by law to offer or use software for internet
  communication, you may not enter into this Agreement and you may not download, install or use
  the Software. By entering into this Agreement you explicitly state that you have verified in your
  own jurisdiction if your use of the Software and Services is allowed.</li>
  </ol>
</li>
<p></p>
<li>
  <h5>Contact</h5>
  <ol>
  <li>
    If you have any questions regarding this Agreement, or if you have any questions,
  complaints, claims or other legal concerns relating to SciGit or its business, please contact
  SciGit at:<br><br>
  SciGit Inc.<br>
  151 Charles Street West, Suite 100, The Tannery<br>
  Kitchener Ontario Canada N2G 1H6
  </li>
  </ol>
</li>
</ol>

{% endblock %}
