<div id="changes" class="well-list">
  <table class="table table-hover table-condensed">
    <tr>
      <th>
        <h2>Project Updates</h2>
      </th>
    </tr>
    <% # Changes go here, added through AJAX. %>
  </table>
</div>
