<div id="changes" class="well-list">
  <div class="well-list-header">
    <div class="well-list-header-inner">
      <h3>Project Updates</h3>
    </div>
  </div>
  <% # Changes go here, added through AJAX. %>
</div>
